/* Susimail Mobile Theme Override "Midnight" */

body {
    margin: 0;
}

.page {
    min-width: 560px;
    padding: 5px 5px 0 !important;
    border-radius: 0;
}

form {
    margin-bottom: 5px;
}

#dologin {
    width: 500px !important;
}

#mailbox td:nth-child(6), #mailbox th:nth-child(6), #mailbox td:nth-child(8), #mailbox th:nth-child(8) {
    display: none;
}

.header, .footer {
    display: none;
}
