/* SusiDNS "Camo" theme (aka "dark") */
/* Author: dr|z3d */

@import url("/themes/fonts/DroidSans.css");

body, html {
    min-height: 100%;
}

html {
    scrollbar-color: rgba(8,48,8,0.8) #000800;
}

html:hover {
    scrollbar-color: rgba(16,72,16,0.8) #000800;
    transition: ease scrollbar-color .1s;
}

body {
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Bitstream Vera Sans", "Lucida Grande", "DejaVu Sans", "Segoe UI", Verdana, Helvetica, sans-serif;
    line-height: 120%;
    background: #000;
    background: repeating-linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,16,0,0.5) 1px, rgba(0,16,0,0.5) 2px), url(/themes/console/dark/images/camotile2.png) top left fixed #010;
    background: repeating-linear-gradient(to right, rgba(0,80,0,.1) 1px, rgba(0,16,0,.3) 2px, rgba(0,16,0,.3) 3px), linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), repeating-linear-gradient(to bottom, rgba(0,0,0,.6) 1px, rgba(0,32,0,.3) 2px, rgba(0,32,0,.3) 3px), url(/themes/console/dark/images/camotile.png) #010 !important;
    color: #ee9;
    padding-top: 5px;
    margin: 0 10px;
    min-width: 650px;
}

body.iframed {
    margin: 0;
    background: transparent !important;
}

::selection {
    background: rgba(0,187,0,0.99) !important;
    color: #000;
    text-shadow: none;
}

::-moz-selection {
    background: #0b0 !important;
    color: #000;
    text-shadow: none;
}

.destaddress, textarea {
    scrollbar-color: rgba(16,48,16,0.4) rgba(0,0,0,0);
}

.destaddress:hover, textarea:hover {
    scrollbar-color: rgba(24,80,24,0.9) rgba(0,0,0,.9);
}

#navi, .buttons, #buttons, #host_list tr:first-child, #host_list img, #host_list td:nth-child(n+2) a {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.page {
    margin: 10px 0;
    padding: 0 5px;
    position: relative;
    color: #ee9;
    font-size: 9pt !important;
}

.iframed .page {
    margin: 0;
    padding: 0 12px;
    background: transparent !important;
}

/* topnav */

#navi  {
    margin: -16px auto 30px;
    padding: 5px 3px;
    position: sticky;
    top: -1px;
    z-index: 999;
    text-align: center;
    border: 1px solid #252;
    border-radius: 0 1px 2px 2px;
    box-shadow: inset 0 0 0 1px #000, 0 2px 2px 2px rgba(0,0,0,0.7);
    background: #000 url(/themes/console/dark/images/header.png) repeat-x scroll center center !important;
    background: repeating-linear-gradient(135deg, #000 1px, #000 2px, #010 2px, #010 4px), repeating-linear-gradient(45deg, #000 1px, #000 2px, #010 2px, #010 4px), linear-gradient(to bottom, #1a261a 0%, #223022 7%, #212f21 9%, #172317 21%, #091109 49%, #050d05 50%, #020602 51%, #010301 53%, #000000 56%, #000000 100%), url(/themes/console/dark/images/camotile2.png) top left !important;
    background-blend-mode: exclusion, exclusion, normal, normal;
}

.iframed #navi  {
    margin: -6px -15px 27px;
    padding: 5px 0;
    position: static;
    border: 1px solid #252;
    border-right: none;
    border-left: none;
    border-radius: 0;
    box-shadow: inset 0 0 0 1px #000;
    background: repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,0,0,.5) 2px, rgba(0,48,0,.3) 3px), linear-gradient(to bottom, #1a261a 0%, #223022 7%, #212f21 9%, #172317 21%, #091109 49%, #050d05 51%, #020602 52%, #010301 55%, #000000 57%), url(/themes/console/dark/images/camotile2.png) top left !important;
    background-blend-mode: normal, exclusion, normal !important;
}

#navi a:link {
    text-transform: capitalize;
}

#navi a:first-child {
    border-radius: 2px 0 0 2px;
}

#navi a:last-child {
    border-radius: 0 2px 2px 0;
}

#navi a, #navi a:visited {
    margin: 1px -4px;
    padding: 3px 8px 4px 25px;
    position: relative;
    display: inline-block;
    color: #494 !important;
    text-shadow: 0 1px 1px #000;
    border: 1px solid #252;
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #040;
    background-blend-mode: luminosity;
}

#navi a:hover, #navi a:focus  {
    z-index: 10;
    color: #f60 !important;
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #f60, inset 0 0 0 3px #000;
    background: #000;
    background-blend-mode: normal;
}

#navi a:active {
    box-shadow: inset 3px 3px 3px #000;
    box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px #000;
    color: #ee9 !important;
    background-blend-mode: luminosity;
}

#navi a.abook {
    background: #000 url(/themes/susidns/images/abook.png) 6px center no-repeat;
    background: url(/themes/susidns/images/abook.png) 6px center no-repeat, linear-gradient(to bottom, #002900, #000400);
}

#navi a.abook:hover, #navi a.abook:focus {
    background: #000 url(/themes/susidns/images/abook.png) 6px center no-repeat !important;
}

#navi a.abook:active {
    background: #f60 url(/themes/susidns/images/abook.png) 6px center no-repeat !important;
}

#navi a#subs {
    background: #000 url(/themes/susidns/images/subs.png) 6px center no-repeat;
    background: url(/themes/susidns/images/subs.png) 6px center no-repeat, linear-gradient(to bottom, #002900, #000400);
}

#navi a#subs:hover, #navi a#subs:focus {
    background: #000 url(/themes/susidns/images/subs.png) 6px center no-repeat !important;
}

#navi a#subs:active {
    background: #f60 url(/themes/susidns/images/subs.png) 6px center no-repeat !important;
}

#navi a#config {
    background: #000 url(/themes/console/images/buttons/configure.png) 6px center no-repeat;
    background: url(/themes/console/images/buttons/configure.png) 6px center no-repeat, linear-gradient(to bottom, #002900, #000400);
}

#navi a#config:hover, #navi a#config:focus {
    background: #000 url(/themes/console/images/buttons/configure.png) 6px center no-repeat !important;
}

#navi a#config:active {
    background: #f60 url(/themes/console/images/buttons/configure.png) 6px center no-repeat !important;
}

#navi a#overview {
    background: #000 url(/themes/susidns/images/overview.png) 6px center no-repeat;
    background: url(/themes/susidns/images/overview.png) 6px center no-repeat, linear-gradient(to bottom, #002900, #000400);
}

#navi a#overview:hover, #navi a#overview:focus {
    background: #000 url(/themes/susidns/images/overview.png) 6px center no-repeat !important;
}

#navi a#overview:active {
    background: #f60 url(/themes/susidns/images/overview.png) 6px center no-repeat !important;
}

/* end topnav */

hr {
    color: #242;
    background: #242;
    height: 1px;
    border: 0px solid #242;
    width: 100%;
    margin: 5px 0;
    text-align: center;
    display: none;
}

div#filter {
    border: 1px solid #242;
    padding: 0 5px 15px;
    text-align: center;
    background: #001000;
}

div#filter + div#search {
    border: 1px solid #242;
    margin: -1px 0 14px !important;
}

div#filter + div#search > form {
    margin: 0;
    padding: 0;
}

#filter p + p {
    display: none;
}

#filter span a {
    font-size: 8.5pt;
    display: inline-block;
    padding: 2px 6px !important;
}

#search {
    padding: 0 10px;
    margin-top: 5px !important;
    margin-bottom: 15px;
}

#booksearch {
    padding: 6px 5px 5px;
    text-align: center;
}

#booksearch > * {
    vertical-align: middle !important;
}

#filter p:first-child {
    padding-bottom: 0;
}

#filter p {
    margin: 8px 0 -8px;
    padding: 0 10px;
    line-height: 210%;
    word-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

#filter a {
    margin: 1px 1px 3px;
    padding: 1px 8px;
    min-width: 12px !important;
    display: inline-block;
    line-height: 160%;
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 105%;
    box-shadow: 0 0 0 1px #030, 0 0 2px 1px rgba(0,0,0,.8), inset 0 0 0 1px #000;
    background: #000;
    background: linear-gradient(to bottom, #020 0%, #000 100%);
}

#filter a:hover {
    text-decoration: none;
    color: #f60;
    box-shadow: 0 0 0 1px #930;
    background: #020;
}

#filter a:active {
    box-shadow: inset 3px 3px 3px #000, 0 0 0 1px #930;
}

#filter span {
    display: block;
    border: 1px solid #242;
    min-width: 300px;
    white-space: nowrap;
    margin: -1px 30% 0;
    padding: 5px;
    font-size: 10pt;
    font-weight: bold;
    text-transform: capitalize;
    background-image: linear-gradient(to bottom, #001000 0%, #001900 50%, #000 51%, #000 100%) !important;
}

#filter span a, #filter span a:hover {
    border: none;
    background: none;
    margin: 0 0 0 10px;
    padding: 0;
}

#filter span a:active {
    box-shadow: none;
}

#filter span b {
    text-transform: uppercase;
    font-size: 10pt;
    margin: 0 0 0 5px;
}

p {
    color:#ee9;
    margin: 0 0 4px;
    font-size: 9pt;
    text-align: justify;
}

span.addrhlpr {
    font-size: 9pt;
}

h3 {
    padding: 7px 10px;
    letter-spacing: 0.08em;
    word-spacing: 0.1em;
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 2px #001100;
    color: #ee9;
    border: 1px solid #242;
    box-shadow: inset 0 0 0 1px #000;
    background: #000 url(/themes/console/dark/images/header.png) repeat-x scroll center center;
    background: linear-gradient(to bottom, #1a261a 0%, #223022 7%, #212f21 9%, #172317 21%, #091109 49%, #050d05 50%, #020602 51%, #010301 53%, #000000 56%, #000000 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,0.5) 1px, rgba(0,16,0,0.5) 2px, rgba(0,16,0,0.5) 3px), linear-gradient(to bottom, #004000, #000 75%);
}

#content h3 {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (min-width: 1200px) {
#content h3 {
    padding-top: 8px;
    padding-bottom: 8px;
}
}

.headline h3 {
    margin-top: -10px;
}

.headline h3:first-child {
    margin-bottom: 24px;
}

#content {
    padding-bottom: 10px;
}

#content h3 {
    border: 1px solid #242;
    padding-left: 34px;
    letter-spacing: 0.12em;
    word-spacing: 0.1em;
    background: url(/themes/console/images/info/question.png) 8px center no-repeat #000;
    background: url(/themes/console/images/info/question.png) 8px center no-repeat, linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,0.5) 1px, rgba(0,16,0,0.5) 2px, rgba(0,16,0,0.5) 3px), linear-gradient(to bottom, #004000, #000 75%);
    background-size: 18px 18px, 100% 100%;
}

#content h3::first-letter {
    font-size: 114% !important;
}

#content h3:first-child {
    margin-top: -15px;
}

#content p {
    line-height: 160%;
    font-size: 110%;
    margin-bottom: 8px;
}

.headline h3:first-child + h4 {
    margin-top: -25px;
    margin-bottom: 26px !important;
}

.headline {
    margin-top: -14px;
}

div#messages {
/*    margin: -16px 0 25px !important;*/
    padding: 18px 20px 20px;
    position: absolute;
    top: 0;
    width: calc(100% - 66px);
    z-index: 999;
    line-height: 120%;
    font-weight: bold;
    border: 1px solid #242;
    box-shadow: inset 0 0 0 1px #000;
    background: #020 url(/themes/snark/dark/images/delete.png) right 6px top 6px no-repeat;
    background-blend-mode: luminosity;
}

div#messages:hover {
    cursor: crosshair;
    background-blend-mode: normal;
}

#messages p {
    padding: 15px 15px 15px 50px !important;
    background: url(/themes/console/dark/images/infohelp.png) 6px center no-repeat;
    color: #ee9;
    padding: 5px 5px 10px;
    margin: 0;
    border-radius: 0;
}

#messages + p, p.book {
    padding: 20px 20px 20px 50px !important;
    border: 1px solid #242;
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030;
    background: #000 url(/themes/susidns/images/addressbook.png) 10px center no-repeat;
}

#messages:empty {
    display: none;
}

p#filtered {
    padding: 12px 10px 8px 20px;
    font-size: 10pt;
    margin: -27px 0 10px;
}

div#book p, p.messages {
    font-size: 10pt;
}

.book th:first-child, .book td:first-child {
    padding: 0 10px !important;
}

.book td {
    padding: 0;
}

.book td:nth-child(2) {
    padding: 2px 0 2px 5px !important;
    width: 30px;
}

.book td:nth-child(3) {
    text-align: center;
    width: 20px;
    padding: 2px 25px 2px 0 !important;
}

h4 {
    margin-top: -15px;
    margin-bottom: 30px !important;
    padding: 8px 10px 8px 35px;
    word-spacing: 0.1em;
    font-size: 9pt;
    border: 1px solid #242;
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030 !important;
    background: url(/themes/susidns/images/drive.png) 9px center no-repeat #000 !important;
    background: url(/themes/susidns/images/drive.png) 9px center no-repeat, linear-gradient(to right, #000, #000800) !important;
    display: none; /* largely useless information */
}

a:link, #filter a:visited {
    color: #494;
    text-decoration: none;
    font-weight: bold;
    outline: none;
}

a:hover, a:focus {
    text-decoration: none;
    color: #f60 !important;
}

a:visited {
    color: #7b7;
    text-decoration: none;
}

a:active {
    color: #f90 !important;
}

th {
    color: #ee9;
    font-size: 9pt;
    padding: 5px 10px;
    text-align: left;
}

td {
    color: #ee9;
    padding: 5px;
    font-size: 9pt;
    vertical-align: middle;
}

td.checkbox {
    padding: 3px 10px;
    width: 1% !important;
}

input[type="checkbox"], input[type="radio"] {
/*    filter: invert(100%) sepia(100%) hue-rotate(70deg) saturate(200%); /* colorize radios and checkboxes */
    min-width: 16px;
    min-height: 16px;
    background: none;
    cursor: pointer;
}

/*
input[type="checkbox"]:hover, input[type="radio"]:hover, input[type="checkbox"]:focus, input[type="radio"]:focus {
    filter: invert(100%) sepia(100%) hue-rotate(70deg) saturate(200%) drop-shadow(0 0 3px #f60);
}
*/

.iframed #visualid {
    margin-top: 16px;
    margin-bottom: 16px;
}

#visualid h3 {
    margin-bottom: -1px;
}

#idAddress {
    text-transform: none;
}

#visualid table {
    width: 100%;
    border: 1px solid #242;
    border-collapse: collapse;
    background: #000900;
}

#visualid tr:first-child td {
    padding: 15px 5px !important;
}

#visualid td:first-child {
    text-align: right;
}

#visualid td {
    text-align: left;
}

#visualid td[colspan="2"] {
    padding: 15px 3px;
    border-top: 1px solid #242;
}

#visualid tr:last-child {
    background: #000;
}

form[action="addressbook"] > p.buttons {
    margin: -13px -3px 0;
    padding: 8px 5px;
    border: 1px solid #242;
}

td > img[width="320"], td > img[src^="/imagegen"] {
    border-radius: 4px;
    width: 240px;
    height: 240px;
    border: 1px solid #242;
    padding: 5px;
    margin: 10px 3px;
    background: #000;
}

img[src="/imagegen/id?s=256&c="], img[src="/imagegen/id?s=20&c="] {
    opacity: 0; /* hide broken identicons but ensure hostlist remains intact */
}

ol, ul {
    margin: 0 20px 0 10px;
    display: table-row;
}

li {
    color: #ee9;
    margin: 0;
    font-size: 9pt;
    list-style: square;
    line-height: 150%;
}

tr.list1 {
    background-color: #000900;
}

tr.list0 {
    background-color: #001000;
}

.help {
    border: 1px solid #242;
    padding: 20px 30px;
}

#sbs h3 a {
    margin-right: 4px;
    float: right;
    font-size: 80% !important;
}

.help h3 {
    margin: 10px -31px;
}

.help h3:first-child {
    margin-top: -21px;
}

.help ul li:last-child {
    margin-bottom: -10px;
}

#helpsubs {
    padding: 0 0 0 40px;
    background: #000 url(/themes/console/dark/images/infohelp.png) 15px center no-repeat !important;
    background: url(/themes/console/dark/images/infohelp.png) 15px center no-repeat, repeating-linear-gradient(to right, #000 1px, #000 2px, #010 3px) !important;
}

#helpsubs p {
    border: none;
    line-height: 130%;
    padding: 15px;
}

#helpconfig {
    background: #000;
    background: repeating-linear-gradient(to right, #000 1px, #000 2px, #010 3px);
}

#helpconfig ul {
    display: block;
    -moz-columns: 2 500px;
    -webkit-columns: 2 500px;
    columns: 2 500px;
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    margin: 0 0 -5px -40px;
}

.iframed #helpconfig, .iframed #helpsubs {
    margin-bottom: 13px;
}

#helpconfig li {
    margin: 0 3px;
}

#helpconfig li b {
    font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", monospace;
    color: #990;
}

div#content p {
    padding: 0 10px;
}

p.footer {
    font-size: 7pt;
    text-align: center;
    display: none;
}

.iframed #footer {
    display: none;
}

p.buttons, #buttons {
    text-align: right;
    margin: 5px 0 -5px;
    padding: 0 3px;
}

div#book + div#buttons {
    border: 1px solid #242;
    padding: 0 0 10px;
    margin-top: 3px;
    background: #000;
}

form[action="export"] > div#buttons {
    border: 1px solid #242;
    padding: 0 0 10px;
    margin-top: 15px;
    background: #000;
}

div#config > textarea, div#content > textarea {
    border-radius: 0;
    margin-top: -27px;
}

textarea[name="config"] {
    height: 250px;
    overflow-y: scroll;
    resize: none;
}

textarea[name="log"] {
    height: calc(100% - 105px);
}

.iframed textarea[name="log"] {
    height: 400px;
    height: auto;
}

div#config + div#buttons, div#content + div#buttons {
    border: 1px solid #242;
    margin-top: -3px;
    padding: 7px 5px 5px;
    margin-bottom: 10px;
    background: #000;
}

div#content + div#buttons {
    margin-top: -13px;
}

/* overview -> svg */

.illustrate {
    margin: 20px auto 10px;
    padding: 0 11px;
    max-width: 700px;
    height: auto;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid #242;
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #242;
    background: #000;
    opacity: 0.8;
}

.illustrate:hover {
    opacity: 1;
}

#ovrvw p:last-of-type::after {
    margin: 20px 0 25px;
    width: 100%;
    height: 1px;
    display: block;
    background: #131;
    background: linear-gradient(to right, rgba(0,0,0,0) 15%, #131, rgba(0,0,0,0) 85%);
    content: "";
    filter: drop-shadow(0 1px 1px #000);
}

svg #space, svg .subs {
    fill: #010;
    stroke: #242;
}

svg .subs {
    filter: drop-shadow(0 0 1px #000);
}

svg .a.tooltip, svg .private {
    fill: #030;
    stroke: #272;
}

svg path.a.tooltip:not(:hover) {
    fill: #272;
    stroke: #000;
    stroke-width: 2px;
}

svg .privatezone {
    fill: none;
    stroke-width: 2px;
}

svg tspan {
    fill: #ee9;
}

svg tspan.c {
    font-weight: normal;
}

svg tspan:hover, svg .tooltip:hover .g {
    fill: #252;
    cursor: help;
}

svg a tspan:hover, svg #sublist:hover #hovershow,
svg .a.tooltip:hover + .b > tspan, svg .a.private:hover + .b > tspan, svg a:hover .g {
    fill: #f60;
    cursor: pointer;
}

svg path.a.tooltip {
    cursor: help;
}

svg rect.tooltip.a, svg path.a.tooltip.link {
    cursor: pointer;
}

svg rect.tooltip, svg .private {
    filter: drop-shadow(0 1px 1px #f50);
}

svg text {
    filter: drop-shadow(0 1px 1px #000);
}

svg path.link, svg a tspan {
    filter: drop-shadow(0 0 1px rgba(255,80,0,.6));
}

svg #hover stop:first-child, svg #hover2 stop:first-child {
    stop-color: #040;
}

svg #hover stop:last-child, svg #hover2 stop:last-child {
    stop-color: #010;
}

svg #arrow stop:first-child {
    stop-color: #070;
}

svg #arrow stop:nth-child(2) {
    stop-color: #030;
}

svg #arrow stop:last-child {
    stop-color: #010;
}

_:-ms-lang(x), img.illustrate {
    width: auto;
    max-width: 600px;
}

/* end overview -> svg */

div#book, #emptybook {
    padding: 0;
    margin: -15px 0 -5px;
}

#emptybook {
    margin-bottom: -7px;
}

#book table {
    width: 100%;
    border: 1px solid #242;
    border-collapse: separate;
}

#book tr.head {
    background: url(/themes/console/dark/images/header.png) repeat-x scroll center center #000;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,0.5) 1px, rgba(0,16,0,0.5) 2px, rgba(0,16,0,0.5) 3px), linear-gradient(to bottom, #002000, #000 75%) !important;
}

#book table th {
    padding: 10px 0;
    border-bottom: 1px solid #242;
}

#book th:last-child {
    background: url(/themes/console/dark/images/header.png) repeat-x scroll center center #000;
    background: url(images/bin.png) center center no-repeat !important;
}

#host_list td {
    border-bottom: 1px solid #131;
}

#book tr:hover td {
    background: #001a00;
}

#host_list tr:hover td {
    border-right: 1px solid transparent;
}

#book tr:hover td:last-child {
    border-right: none;
}

#book  tr:hover td textarea {
    color: #ee9;
}

#book input[type="checkbox"] {
    margin: 0;
}

div#add, div#import {
    border: 1px solid #242;
    padding: 0 0 10px;
    margin-top: 23px;
    background: #000;
}

#add h3, #import h3 {
    margin-top: -6px;
    margin-left: -1px;
    margin-right: -1px;
    padding: 8px 10px;
    font-size: 11pt;
}

#add table, #import table {
    margin: -14px 0 -4px 0;
    padding: 6px 3px;
    width: 100%;
    border-collapse: separate;
    border-top: 1px solid rgba(0,48,0,0.5);
    border-bottom: 1px solid rgba(0,48,0,0.5);
    border-spacing: 0;
}

#add td:first-child,
#import table td:first-child {
    text-align: right;
    width: 100px;
    white-space: nowrap;
}

#add td:last-child,
#import td:last-child {
    padding-right: 5px;
}

#add p.buttons, #import p.buttons {
    margin-top: 5px;
    border-top: 1px solid #242;
    padding-top: 5px;
}

#import {
    margin-top: 18px !important;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="reset"]:focus, .fakebutton:hover, #fakebutton:focus {
    background: #000;
    color: #f60;
    border: 1px solid #f60;
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px rgba(255,86,0,0.8), inset 0 0 0 3px #000 !important;
}

#add input[type="text"], #import input[type="file"] {
    width: calc(100% - 2px);
}

#import input[type="file"] {
    border: none;
    background: none;
}

input::placeholder {
    font-style: italic;
}

input:focus::placeholder {
    opacity: 0;
}

.fakebutton, .fakebutton:visited {
    color: #494;
}

.fakebutton:hover, .fakebutton:focus {
    color: #f60;
}

input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
    border: none;
    outline: none;
}

input {
    font-size: 9pt;
    font-weight: bold;
    text-align: left;
    padding: 5px !important;
    border-radius: 2px;
    border: 1px solid #252;
    background: #000 none !important;
    color: #494;
    margin: 2px 4px 2px 0;
    font: bold 8pt "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Bitstream Vera Sans", "Lucida Grande", "DejaVu Sans", "Segoe UI", Verdana, Helvetica, sans-serif;
    min-width: 64px !important;
}

input[type="submit"], input[type="reset"], .fakebutton {
    margin: 5px 2px;
    padding: 7px 12px !important;
    min-width: 92px !important;
    font: bold 8.5pt "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Bitstream Vera Sans", "Lucida Grande", "DejaVu Sans", "Segoe UI", Verdana, Helvetica, sans-serif;
    text-align: center;
    color: #494;
    border-radius: 2px;
    background: #000;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px #151, inset 0 0 0 2px #000, inset 0 0 2px 2px #040, inset 0 0 0 3px #000, 0 0 0 1px rgba(0,16,0,.2);
    border: 1px solid #000;
    border-radius: 2px;
    background: linear-gradient(to bottom, #001000, #000 5%, #000 95%, #001000);
}

input.update {
    margin-left: 5px;
}

.fakebutton {
    margin-right: 3px;
}

input[type="submit"]:last-of-type, input[type="reset"]:last-of-type {
    margin-right: 5px;
}

input[type=submit]:active, input[type=reset]:active, .fakebutton:active {
    color: #ee9 !important;
    border: 1px solid #f60;
    box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px 2px #310 !important;
    text-shadow: 0 1px 1px #000;
    background: #f60 !important;
    filter: none;
}

input[type="text"] {
    padding: 7px !important;
    font-size: 110%;
}

input[type="text"], textarea {
    background: #000;
    background: linear-gradient(to bottom, #000 0%, #010 100%) !important;
    box-shadow: inset 0 0 3px 3px #000;
    color: #bb7;
}

@media screen and (min-width: 1500px) {
input[type="submit"], input[type="reset"], .fakebutton {
    padding: 8px 12px 8px !important;
    font-size: 9pt;
}

input[type="text"] {
    padding: 8px !important;
}
}

textarea {
    color: #bb7;
    border: 1px solid #242;
    padding: 3px 5px;
    font: bold 8.5pt "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
    border-radius: 2px;
    width: 100%;
    height: 120px;
    line-height: 140%;
    resize: none;
}

textarea[cols="70"] {
    width: 100% !important;
    height: 40px;
}

input:focus, #add textarea:focus {
    color: #ee9;
    background: #000 !important;
    filter: drop-shadow(0 0 1px #880);
    transition: ease filter 0.3s;
    outline: none;
}

textarea:focus {
    filter: none;
    box-shadow: inset 0 0 1px #880;
}

input[name="search"] {
    padding: 7px 7px 7px 26px !important;
    background: url(/themes/console/images/buttons/search.png) 5px center no-repeat, linear-gradient(to bottom, #000 0%, #010 100%) !important;
}

input[name="search"]:focus {
    background: #000 url(/themes/console/images/buttons/search.png) 5px center no-repeat !important;
}

/* page titles */

.headline h3 {
    padding: 10px 5px 10px 35px;
    font-size: 11.5pt;
    letter-spacing: 0.18em;
    word-spacing: 0.1em;
    text-transform: uppercase;
    background: url(/themes/susidns/images/addressbook.png) 5px 40% no-repeat, linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,0.5) 1px, rgba(0,16,0,0.5) 2px, rgba(0,16,0,0.5) 3px), linear-gradient(to bottom, #004000, #000 75%);
}

.headline h3::first-letter {
    font-size: 115%;
}

.headline#subscriptions h3 {
    background: url(/themes/susidns/images/subs_24.png) 7px 40% no-repeat, linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,0.5) 1px, rgba(0,16,0,0.5) 2px, rgba(0,16,0,0.5) 3px), linear-gradient(to bottom, #004000, #000 75%);
}

.headline#configure h3 {
    background: url(/themes/susidns/images/configure_24.png) 6px 40% no-repeat, linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,0.5) 1px, rgba(0,16,0,0.5) 2px, rgba(0,16,0,0.5) 3px), linear-gradient(to bottom, #004000, #000 75%);
    background-size: 24px 24px, 100% 100%, 100% 100% !important;
}

/* export hosts button adjustments */

#export {
    text-align: right;
    margin-top: -52px;
    margin-bottom: 23px;
    padding-right: 4px;
    float: right;
    clear: left !important;
}

#export input[type="submit"] {
    display: inline-block;
}

p#filtered {
    padding: 12px 250px 12px 12px !important;
}

@media screen and (min-width: 1500px) {
/*p#filtered {
    padding-top: 9px !important;
}*/

input.export {
    margin-right: 0 !important;
}
}

p.book {
    padding-left: 35px !important;
}

#messages + p, p.book {
    border: 1px solid #242;
    background: #000 url(/themes/susidns/images/addressbook.png) 5px center no-repeat;
}

/* hide export button on published addressbook if empty */

#messages + form[action="export"] {
    display: none;
}

/* host details page */

#host_details tr {
    box-shadow: inset 0 0 0 1px #000, inset 0 -1px 0 1px #000, inset 0 0 2px 1px #030, inset 0 -1px 2px 1px #030 !important;
}

#host_details td {
    padding: 8px 5px 8px 10px !important;
    border-bottom: 1px solid #131;
}

#host_details td:first-child {
    padding-right: 0 !important;
    width: 1%;
    white-space: nowrap;
    vertical-align: top;
    font-weight: bold;
    text-align: right;
}

#host_details td:last-child {
    text-align: left;
    border-left: none !important;
    border-right: none !important;
}

#host_details td.destinations {
    background: none;
}

#host_details .destaddress {
    margin-right: 5px;
    font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace !important;
    word-break: break-all !important;
    white-space: normal !important;
    -moz-user-select: all;
    -webkit-user-select: all;
    user-select: all;
}

#host_details b {
    margin: 0 6px 0 10px;
}

#lastMod:empty::before {
    content: "n/a";
}

/* end host details */

.names img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin: 6px 8px 6px 2px;
    padding: 2px;
    border: 1px solid #242;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.5);
    background: #000;
}

.names img:hover, .names a:focus img {
    border: 1px solid #f60;
}

.names a:active img, .names a:focus img {
    transform: rotate(45deg) scale(0.8);
    transition: ease border 0.1s;
}

/* hostname list */

.book td:nth-child(3) a:not(old) {
    font-size: 0 !important;
}

.book td:nth-child(3) .addrhlpr a::after {
    content: url(/themes/console/images/buttons/fullview.png);
    text-align: center;
    padding: 0 10px !important;
    filter: drop-shadow(0 0 1px #555);
}

#host_list {
    margin-top: 28px;
}

#host_list th:first-child, #host_list td:first-child {
    width: 150px;
    width: 30%;
    white-space: nowrap;
    padding-left: 5px !important;
}

#host_list th:first-child {
    padding-left: 46px !important;
}

#host_list td {
    box-shadow: inset 0 0 0 1px #000;
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 0 #040;
    border-right: 1px solid #131;
}

#host_list tr:hover td {
    box-shadow: none;
}

#host_list td:last-child {
    width: 16px;
    white-space: nowrap;
    font-weight: bold;
    border-right: none;
}

#host_list th:nth-child(2), #host_list td:nth-child(2),
#host_list th:nth-child(3), #host_list td:nth-child(3),
#host_list th:nth-child(4), #host_list td:nth-child(4) {
    width: 35px;
    width: 8%;
    padding: 0 5px !important;
    white-space: nowrap;
    text-align: center;
}

#host_list td:nth-child(2) a, #host_list td:nth-child(3) a, #host_list td:nth-child(4) a {
    filter: drop-shadow(0 0 1px #353);
}

#host_list td:nth-child(2) a:not(old) {
    font-size: 0 !important;
}

#host_list td:nth-child(2) a::after {
    content: url(/themes/console/images/buttons/link.png);
    text-align: center;
    cursor: pointer;
}

#host_list td:nth-child(3) a:not(old) {
    font-size: 0 !important;
}

#host_list td:nth-child(3) a::after {
    content: url(/themes/console/images/buttons/helper.png);
    cursor: pointer;
}

/*#host_list th:nth-child(4), #host_list td:nth-child(4) {
    padding-right: 30px !important;
}*/

#host_list td:nth-child(4) a:not(old) {
    font-size: 0 !important;
}

#host_list td:nth-child(4) .addrhlpr a::after {
    content: url(/themes/console/images/buttons/fullview.png);
    text-align: center;
    padding: 0 10px !important;
    cursor: pointer;
}

#host_list td:nth-child(2) a:hover, #host_list td:nth-child(3) a:hover, #host_list td:nth-child(4) a:hover,
#host_list td:nth-child(2) a:focus, #host_list td:nth-child(3) a:focus, #host_list td:nth-child(4) a:focus {
    filter: drop-shadow(0 0 1px #f60);
}

.destaddress:focus {
    background: #001a00;
    outline: none;
}

#host_list .destaddress {
    white-space: nowrap;
    font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace !important;
    font-weight: normal;
    padding: 3px 10px !important;
    -moz-user-select: all;
    -webkit-user-select: all;
    user-select: all;
    overflow: hidden;
    text-overflow: ellipsis;
}

#host_list .destaddress:focus {
    overflow: auto;
    text-overflow: clip;
}

/* end hostname list */

td.destinations {
    max-width: 50px !important;
}

tr:hover .destinations {
    color: #bb0;
}

/* MS Edge fix */
_:-ms-lang(x), * {
    filter: none !important;
}

/* responsive layout */

@media screen and (max-width: 710px) {
#navi a {
    background: linear-gradient(to bottom, #020 0%, #020 50%, #000 50%, #000 100%) !important;
    padding: 2px 8px !important;
}

#navi a.abook:hover, #navi a#overview:hover, #navi a#subs:hover, #navi a#config:hover,
#navi a.abook:focus, #navi a#overview:focus, #navi a#subs:focus, #navi a#config:focus {
    background: #000 !important;
    padding: 2px 8px !important;
}

#navi a.abook:active, #navi a#overview:active, #navi a#subs:active, #navi a#config:active {
    background: #f60 !important;
}
}

@media screen and (max-width: 1000px) {
.illustrate {
    margin: 15px auto 10px;
    min-width: 450px;
    width: 90%;
}
}

@media screen and (max-width: 1200px) {
#filter {
    padding: 0 5px;
}

#filter p {
    margin-left: 0;
    margin-right: 0;
}

#filter a {
    padding: 0 4px;
}
}

@media screen and (min-width: 1400px) {

body, input[type="submit"], input[type="reset"], .fakebutton, input, select, h4, td.names a, li, #filter a, #filter span a,  #host_details td, th, #search td, .destaddress {
    font-size: 9.5pt !important;
}

p {
    font-size: 10pt !important;
}

textarea {
    font-size: 9pt;
}

#navi {
    padding: 6px 5px !important;
}

#navi a.abook, #navi a.abook:hover, #navi a.abook:focus, #navi a.abook:active,
#navi a#overview, #navi a#overview:hover, #navi a#overview:focus, #navi a#overview:active,
#navi a#subs, #navi a#subs:hover, #navi a#subs:focus, #navi a#subs:active,
#navi a#config, #navi a#config:hover, #navi a#config:focus, #navi a#config:active
 {
    padding: 6px 9px 6px 26px !important;
    letter-spacing: 0.1em;
    font-size: 10pt !important;
    background-position: 7px center !important;
}

h3 {
    font-size: 12pt !important;
}

 #filter span {
    font-size: 10pt !important;
}

#filter a {
    margin: 0 2px -2px !important;
    min-width: 14px;
}

div#filter {
    background: linear-gradient(to right, #000, #001000 10%, #001000 90%, #000);
}

form[action="addressbook"] > p.buttons {
    margin-bottom: -20px;
}

textarea[name="config"] {
    height: 280px;
}
}

@media screen and (min-width: 1600px) {
p, li {
    font-size: 10.5pt !important;
}

textarea {
    font-size: 9.5pt !important;
}
}

/* end responsive layout */

/* custom radios/checkboxes to enforce color scheme when OS widgets are non-standard  */
/*@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution:.001dpcm) {*/
@supports (background-blend-mode: luminosity) { /* exclude ms browsers */
input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked,
input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    margin: 2px;
    position: relative;
    width: 19px !important;
    height: 19px !important;
    min-width: 19px !important;
    outline: none;
    vertical-align: middle !important;
    box-sizing: border-box;
    border: 1px solid #252 !important;
    background: #010;
    -moz-appearance: none;
    -webkit-appearance: inherit;
    filter: drop-shadow(0 0 2px #000);
    will-change: transform;
}

input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked {
    border-radius: 2px;
    box-shadow: inset 3px 3px 3px 1px #000;
}

input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    border-radius: 50%;
    box-shadow: inset 3px 3px 3px 1px #000;
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before,
input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
    position: absolute;
    transition: linear all 0.05s;
    transform: scale(1);
}

.optbox:not(:checked) {
    box-shadow: inset 3px 3px 3px 1px #000;
}

.optbox:active {
    background: #000 !important;
}

input[type="checkbox"]:checked::before, input[type="checkbox"]:not(:checked)::before {
    content: "";
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    line-height: 80%;
    font-family: sans-serif;
    font-size: 15pt;
    color: #5a5;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(16,48,16,.5), 0 0 0 1px #000;
    background: #5a5;
}

input[type="radio"]:checked::before {
    content: "";
    border-radius: 50%;
    left: 25%;
    top: 25%;
    width: 9px;
    height: 9px;
    background: #5a5;
}

input[type="checkbox"]:checked:hover::before {
    color: #6b6;
}

input[type="radio"]:checked:hover::before {
    background: #6b6;
}

input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
    transform: scale(0);
    color: transparent;
    background: transparent;
}

input[type="checkbox"]:hover, input[type="radio"]:hover, input[type="checkbox"]:focus, input[type="radio"]:focus {
    background: #000;
    width: 19px !important;
    height: 19px !important;
    border: 1px solid #5a5 !important;
    box-shadow: 0 0 2px #f60 !important;
    filter: drop-shadow(0 0 1px #f60) !important;
}

input[type="checkbox"][disabled], input[type="radio"][disabled], input[type="checkbox"][disabled]:hover, input[type="radio"][disabled]:hover,
input[type="checkbox"][disabled]:checked, input[type="radio"][disabled]:checked, input[type="checkbox"][disabled]:checked:hover, input[type="radio"][disabled]:checked:hover {
    border: 1px solid #252 !important;
    box-shadow: none !important;
    opacity: 0.5 !important;
    background: #000;
    filter: none !important;
}
}

/* end custom radios/checkboxes */

/* host notes */

#host_details .destaddress {
    font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
    word-break: break-all !important;
    white-space: normal !important;
}

#hostNotes td:last-child {
    padding: 0 0 1px !important;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
/*    background: linear-gradient(to bottom, #fafaff 90px, rgba(220,220,255,0.3)), repeating-linear-gradient(135deg, rgba(255,255,255,0.5) 2px, rgba(221, 221, 255, 0.3) 3px, #fff 5px) #fafaff !important;*/
}

#hostNotes:hover td {
    background: transparent !important;
}

/*#hostNotes:hover td:first-child, #hostNotes:hover textarea {
    background: #000 !important;
}*/

#hostNotes td:last-child input[type="submit"] {
    margin: 13px 10px 10px;
    float: right;
    display: none;
}

#hostNotes td:last-child textarea:focus + input[type="submit"] {
    display: inline-block;
}

#hostNotes textarea {
    margin: 0;
    padding: 7px 8px !important;
    height: 72px !important;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    border: none !important;
    border-radius: 0;
    background: transparent !important;
    box-shadow: none;
}

#hostNotes textarea:hover, #hostNotes textarea:focus {
    box-shadow: inset 0 0 0 1px rgba(255,96,0,0.5);
    border-right: none;
    border-left: none;;
    background: #000 !important;
}

#hostNotes textarea::placeholder {
    font-style: italic;
}

#hostNotes textarea:focus::placeholder {
    color: transparent;
}

#filter span {
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030 !important;
}

p#filtered {
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030 !important;
    background: repeating-linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,16,0,0.6) 1px, rgba(0,16,0,0.6) 2px), url(/themes/console/dark/images/camotile2.png) !important;
}

p#filtered, #export {
    will-change: transform;
}

#visualid table {
    border-spacing: 0;
}

#visualid tr td, #visualid tr:hover td {
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #242;
    box-shadow: none !important;
    background: #010;
    background: repeating-linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,16,0,.5) 1px, rgba(0,16,0,.5) 2px), url(/themes/console/dark/images/camotile2.png) !important;
}

#visualid tr:last-child td {
    border: none;
    padding: 18px 6px;
}

form[action="addressbook"] > p.buttons, #filter, #search, #visualid tr:last-child td, #buttons, #add p.buttons {
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030 !important;
/*    background: repeating-linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,16,0,.5) 1px, rgba(0,16,0,.5) 2px), url(/themes/console/dark/images/camotile2.png) !important;*/
    background: repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,0,0,.5) 2px, rgba(0,16,0,.5) 3px), linear-gradient(to bottom, #020, #000 75%) !important;
}

#add {
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030 !important;
    background: repeating-linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,16,0,.5) 1px, rgba(0,16,0,.5) 2px), url(/themes/console/dark/images/camotile2.png) !important;
}

#add p.buttons {
    margin-bottom: -10px !important;
    padding-bottom: 4px !important;
}

#host_details.book {
    margin-top: 26px !important;
}
