th[role=columnheader]:not([data-sort-method="none"]) {
   cursor: pointer;
}

th[role=columnheader]:not([data-sort-method="none"])::after {
   margin: 2px 0 0 5px;
   position: absolute;
   content: "";
   border-width: 0 5px 5px;
   border-style: solid;
   border-color: #404040 transparent;
   visibility: hidden;
   opacity: 0;
   -ms-user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
}

#netdbcountrylist th:last-child {
    position: relative;
}

#netdbcountrylist th:last-child[role=columnheader]:not([data-sort-method="none"])::after {
    left: 10px;
}

th[aria-sort=ascending]:not([data-sort-method="none"])::after {
   border-bottom: none;
   border-width: 5px 5px 0;
}

th[aria-sort]:not([data-sort-method="none"])::after {
   visibility: visible;
   opacity: .7;
}

th[role=columnheader]:not([data-sort-method="none"]):hover::after {
   visibility: visible;
   opacity: 1;
}
