/* SusiDNS theme "Classic" */
/* Author: dr|z3d */

@import url("/themes/fonts/DroidSans.css");

body {
    font: 9pt/130% "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Bitstream Vera Sans", "Lucida Grande", "DejaVu Sans", "Segoe UI", Verdana, Helvetica, sans-serif;
    background: #eef;
    background: #eef url(/themes/console/classic/images/bg0.png);
    background-size: 120px 120px;
    color: #2c354f;
    min-width: 700px;
}

body.iframed {
    background: transparent !important;
    margin: 0;
}

*, *:active {
    outline: none;
}

#navi, .buttons, #buttons, #host_list tr:first-child, #host_list img, #host_list td:nth-child(n+2) a {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

hr {
    display: none;
}

table {
    width: 100%;
}

table.book {
    border: 1px solid #89f;
    margin: 10px 0 !important;
    border-collapse: collapse;
}

.book tr {
    border-top: 1px inset #ccf;
    border-bottom: 1px inset #ccf;
}

table.book td {
    padding: 2px 5px;
}

table.book th {
    text-align: left;
    padding-left: 5px;
}

.book th:last-child {
    background: url(/themes/console/images/buttons/delete.png) center center no-repeat, linear-gradient(to bottom, #fff 50%, #eff2ff 50%);
}

table.book tr:hover textarea {
    background: #fff;
/*    border: none;
    box-shadow: none;*/
}

table.book tr:hover {
    border-top: 1px solid #89f;
    border-bottom: 1px solid #89f;
}

table.book td:last-child {
    width: 36px;
    white-space: no-wrap;
    text-align: center;
    padding: 0 5px;
}

table.book td:first-child {
    width: 200px;
    white-space: nowrap;
}

table.book td:nth-child(2) {
    width: 30px;
    white-space: nowrap;
    padding-left: 10px;
}

.book td:nth-child(3) {
    text-align: center;
    width: 20px;
    padding: 2px 20px 2px 0 !important;
}

.book td:nth-child(3) a:not(old) {
    font-size: 0 !important;
}

.book td:nth-child(3) .addrhlpr a::after {
    content: url(/themes/console/images/buttons/fullview.png);
    text-align: center;
    padding: 0 10px !important;
    filter: drop-shadow(0 0 1px #555);
}

.book td:nth-child(4) .addrhlpr:hover {
    filter: drop-shadow(0 0 1px #f60);
}

td.destinations {
    padding: 0 !important;
}

#add {
    background: #fff;
}

.iframed #add {
    background: transparent;
}

#add td:first-child, #import td:first-child {
    width: 100px;
    white-space: nowrap;
    text-align: right;
}

#import table {
    margin-bottom: 10px;
}

#add input[type="text"], #import input[type="file"] {
    width: calc(100% - 2px);
}

input::placeholder {
    font-style: italic;
}

input:focus::placeholder {
    opacity: 0;
}

#navi {
    border: 1px solid #89f;
    background: linear-gradient(to bottom, #fff 50%, #eff2ff 50%);
    margin: -1px -11px 0;
    padding: 0;
    position: sticky;
    top: -1px;
    z-index: 999;
}

.iframed #navi {
    position: static;
}

.iframed #navi, .iframed h3, .iframed h4, .iframed #help, .iframed p.buttons, .iframed #filter {
    border-left: none !important;
    border-right: none !important;
}

#content h3 {
    padding: 3px 10px 4px 30px !important;
    background: #fafafa url(/themes/console/images/info/question.png) 4px center no-repeat;
    background: url(/themes/console/images/info/question.png) 4px center no-repeat, linear-gradient(to right, #fafafa 28px, rgba(0,0,0,0) 28px);
    background-size: 20px 20px, 100% 100%;
    background-blend-mode: luminosity;
}

.iframed #content h3 {
    border: none;
    margin: 0;
    border-bottom: 1px dotted #89f;
}

.iframed #content h3:first-child {
    margin-top: 10px;
}

#content {
    padding-bottom: 10px;
}

#sbs #content {
    margin: -11px;
}

#sbs h3 a {
    margin-right: 5px;
    float: right;
}

#ovrvw #content {
    margin-top: 15px;
}

div.page {
    border: 1px solid #89f;
    background: #fff !important;
    margin: 0;
    padding: 0 10px;
    color: #0c153d;
    font-size: 9pt !important;
    line-height: 160% !important;
}

.iframed .page {
    background: transparent !important;
    margin: 0 1px !important;
    border: none;
}

div.help {
    border: 1px solid #89f;
    margin: 0 0 10px;
    background: #eef;
}

.iframed #helpsubs {
    margin: 0 -11px -1px;
    border-left: none;
    border-right: none;
}

.iframed #helpconfig {
    margin: 0 0 11px;
}

#helpconfig h3 {
    margin: -1px;
}

.iframed #helpconfig h3 {
    margin: -1px 0;
}

.help ul, .help ol {
    margin-left: -25px;
    list-style-type: square;
}

p {
    line-height: 140%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 9pt;
    text-align: justify;
}

h3 {
    color: #2c354f;
    font-size: 11pt;
    font-weight: bold;
    border: 1px solid #89f;
    margin: -1px -11px 10px;
    padding: 5px 10px;
    background: #fff;
    background: linear-gradient(to bottom, #fff 50%, #eff2ff 50%);
    text-transform: capitalize;
}

#help h3 {
    margin: -1px -1px 10px;
}

h4 {
    margin: -11px -11px 10px;
    padding: 3px 10px;
    border: 1px solid #89f;
    background: linear-gradient(to right, #fff, #eef);
}

a {
    color: #33a;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #448;
}

a:hover, a:focus {
    text-decoration: none;
    color: #f60;
}

a:active {
    color: #f90;
}

th {
    line-height:12pt;
    padding:5px 10px;
    font-size:10pt;
    background: linear-gradient(to bottom, #fff 50%, #eff2ff 50%);
    border-bottom: 1px solid #89f;
}

td {
    padding:5px 10px;
    font-size:9pt;
    vertical-align:center;
}

li {
    margin-left:15px;
    margin-right:15px;
    font-size:9pt;
}

tr.list1 {
    background-color:#dde1ff;
    background: rgba(220,220,255,0.5);
}

tr.list0 {
    background-color:#eff1ff;
    background: rgba(240,240,255,0.5);
}

tr.list0:hover, tr.list1:hover {
    background: #fff;
    background: linear-gradient(to bottom, #fff 0%, #ffe 100%) !important;
}

p.messages {
    background: #ffe;
    border: 1px solid #89f;
    border: 1px solid #89f;
    padding: 15px 15px 15px 45px;
    margin: -6px -11px 5px;
    background: #ffe url(/themes/console/images/info/infohelp.png) 8px center no-repeat;
    line-height: 125%;
    box-shadow: inset 0 0 0 1px #ff9;
}

.iframed p.messages {
    border-left: none;
    border-right: none;
}

p.help {
    padding: 15px 15px 15px 45px;
    margin: 0;
    background: #ffe url(/themes/console/images/info/infohelp.png) 8px center no-repeat;
    line-height: 120%;
    background-size: 28px 28px;
}

.iframed p.help {
    margin-top: -13px;
    padding-bottom: 18px;
}

p.book, #messages + p {
    background: url(/themes/susidns/images/addressbook.png) center left no-repeat;
    padding: 10px 10px 10px 38px;
}

p.footer {
    position: absolute;
    top: 0;
    left: -24px;
    border: none;
    background: none;
    opacity: 0.3;
    font-size: 8pt !important;
    display: none;
}

.iframed #footer {
    display: none;
}

div#filter {
    border: 1px solid #89f;
    padding: 0 10px;
    margin: 0 -11px;
    word-spacing: 0.2em;
    background: #fff;
    text-align: center;
    position: relative;
    z-index: 10;
}

.iframed div#filter {
    background: url(/themes/console/classic/images/bg0.png);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(/themes/console/classic/images/bg0.png);
    background-size: 120px 120px;
}

#filter p {
    margin: 6px 0 5px;
    line-height: 220%;
    text-transform: capitalize;
    text-align: center;
}

#filter a, #filter a:visited {
    display: inline-block;
    margin: 2px 0;
    padding: 0 6px;
    font-size: 10pt;
    color: #448;
    border-radius: 2px;
    text-transform: capitalize;
    box-shadow: inset 0 0 0 1px #fff;
    border: 1px solid #99f;
    min-width: 16px;
    background: #fff;
    background: linear-gradient(to bottom, #fff, #eef);
    line-height: 180%;
}

#filter span a {
    font-weight: normal;
    color: #333 !important;
    line-height: 140%;
}

#filter a:hover, #filter a:focus {
    text-decoration: none;
    color: #f60 !important;
    border: 1px solid #f60 !important;
    background: #fff;
}

#filter a:active {
    box-shadow: inset 3px 3px 3px #999;
}

#filter p b {
    font-size: 12pt;
    vertical-align: bottom;
/*    border-bottom: 2px solid #0c153d;*/
    margin-right: 5px;
}

#filter span {
    min-width: 300px !important;
    display: inline-block;
    margin-top: -1px;
    padding: 5px;
    border: 1px solid #89f;
    border-radius: 0 0 2px 2px;
    box-shadow: inset 0 0 0 1px #fff;
    font-size: 11pt;
    font-weight: bold;
    background: linear-gradient(to bottom, #fff 50%, #eff2ff 50%);
}

#filter span > * {
    vertical-align: middle;
}

#filter span b {
    font-size: 11pt;
    text-transform: uppercase;
    color: #115;
    line-height: 80%;
    display: inline-block;
    margin-top: -2px;
}

#filter span a {
    margin: 0 5px !important;
    display:inline-block;
    padding: 1px 5px;
}

#search {
    text-align: center !important;
}

#search form {
    text-align: center !important;
}

#booksearch {
    min-width: 300px;
    margin: -1px 0 -13px;
    white-space: nowrap;
    padding: 5px 5px 4px	;
    border: 1px solid #89f;
    background: #fff;
}

#booksearch > * {
    vertical-align: middle;
}

.iframed #booksearch {
    background: #eff2ff;
    background: linear-gradient(to bottom, #fff 50%, #eff2ff 50%);
}

#search input[type="text"] {
    width: 200px;
    background: #fff url(/themes/console/images/buttons/search.png) 5px center no-repeat;
    padding: 5px 5px 5px 25px;
}

#messages:empty {
    display: none;
}

#visualid {
    padding: 0;
}

#visualid h3 {
    text-transform: none;
}

#idAddress {
    text-transform: none;
}

#visualid table {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
}

.iframed #visualid table {
    margin-bottom: 13px;
}

#visualid tr:first-child td {
    padding: 10px 10px 20px;
}

#visualid td:first-child {
    text-align: right;
}

#visualid td[colspan="2"] {
    border-top: 1px solid #89f;
    padding: 15px 0;
}

.iframed #visualid td[colspan="2"] {
    padding-bottom: 0;
}

img[src*="imagegen"] {
    width: 256px;
    height: 256px;
    border: 1px solid #ddd;
    border-radius: 4px;
    filter: drop-shadow(0 0 3px #ccc);
}

img[src="/imagegen/id?s=256&c="], img[src="/imagegen/id?s=20&c="] {
    opacity: 0; /* hide broken identicons but ensure hostlist remains intact */
}

.illustrate {
    margin: 10px auto 20px;
    padding: 10px;
    max-width: 700px;
    height: auto;
    border: 1px solid #56b;
    border-radius: 4px;
    font-size: 10pt;
    text-align: center;
    opacity: 0.9;
    box-shadow: inset 0 0 1px #ccf, 0 0 1px #77a;
    background: #f8f8ff;
    background: linear-gradient(rgba(250,250,255,0.5), rgba(246,246,255,0.5)), url(/themes/console/classic/images/bg2.png);
    background-size: 100% 100%, 120px 120px;
    transition: ease all 0.2s;
}

.illustrate:hover {
    opacity: 1;
    border: 1px solid #337;
    background: #fff;
    transition: ease all 0.2s;
}

_:-ms-lang(x), img.illustrate {
    width: auto;
    max-width: 600px;
}

#buttons, .buttons {
    text-align: right;
}

#content + #buttons, #config + #buttons {
    margin: -21px -11px 0;
    padding: 10px;
    border: 1px solid #89f;
}

#config + #buttons {
    padding-top: 21px;
}

.iframed #content + #buttons, .iframed #config + #buttons {
    border-left: none;
    border-right: none;
    background: #fff;
}

p.buttons {
    border: 1px solid #89f;
    padding: 10px;
    margin: 0 -11px -13px;
    background: #fff;
}

.fakebutton, input, select {
    font: 9pt/130% "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Bitstream Vera Sans", "Lucida Grande", "DejaVu Sans", "Segoe UI", Verdana, Helvetica, sans-serif;
}

.fakebutton, input[type="submit"], input[type="reset"], input[type="checkbox"], input[type="radio"], select {
    cursor: pointer;
}

input[type="text"], input[type="password"], textarea {
    margin: 3px 3px 3px 0;
    padding: 6px 10px;
    min-width: 160px;
    vertical-align: middle;
    font: 9pt/130% "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Bitstream Vera Sans", "Lucida Grande", "DejaVu Sans", "Segoe UI", Verdana, Helvetica, sans-serif;
    color: #222;
    border: 1px solid #99f;
    border-radius: 2px;
    box-shadow: inset 1px 1px 1px #ddd;
    background: #fff;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    color: #000;
    box-shadow: inset 0 0 0 1px #89f;
    box-shadow: inset 0 0 0 1px #89f, 0 0 1px rgba(136, 153, 255, 0.4);
}

input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
    border: none;
    outline: none;
}

input[type="submit"], input[type="reset"] {
    min-width: 80px;
}

textarea {
    margin: 0 auto 10px;
    width: 100%;
    resize: none;
    color: #444;
}

td.destinations textarea, td.destinations textarea:focus {
    margin: 0 0 0 5px !important;
    padding: 0 !important;
    font: normal 8pt "Noto Mono", "Droid Sans Mono", "Andale Mono", "DejaVu Sans Mono", "Lucida Console", monospace;
    resize: none;
    border: none;
    border-left: 1px solid #888 !important;
    border-right: 1px solid #888 !important;
    border-radius: 0;
    box-shadow: 0 none !important;
    background: none;
}

.fakebutton, input[type="submit"], input[type="reset"] {
    margin: 2px 0 2px 4px;
    padding: 5px 8px !important;
    color: #333 !important;
    border-radius: 2px;
    border: 1px solid #99f;
    box-shadow: inset 0 0 0 1px #fff, 0 0 1px 0 #ddd;
    background: #eee;
    background: linear-gradient(to bottom, #fff, #eef);
}

input.update {
    margin-left: 0;
}

.fakebutton:hover, input[type="submit"]:hover, input[type="reset"]:hover,
.fakebutton:focus, input[type="submit"]:focus, input[type="reset"]:focus {
    color: #222;
    border: 1px solid #89f;
    background: #fff;
    background: linear-gradient(to bottom, #ddd, #fff);
    filter: drop-shadow(0 0 1px #89f);
}

.fakebutton:active, input[type="submit"]:active, input[type="reset"]:active {
    color: #333;
    border: 1px solid #bbb;
    box-shadow: inset 3px 3px 3px #999;
    box-shadow: inset 0 0 0 1px #fff, inset 3px 3px 3px #999;
}

.fakebutton {
    margin: -4px 0 -4px 4px !important;
    display: inline-block;
}

.iframed .fakebutton {
    margin-bottom: -2px !important;
}

input[type="radio"], input[type="checkbox"] {
    min-width: 16px;
    min-height: 16px;
    background: none;
}

input[type="radio"]:hover, input[type="radio"]:focus, input[type="checkbox"]:hover, input[type="checkbox"]:focus {
    box-shadow: inset 0 0 1px 2px #89f;
    filter: drop-shadow(0 0 3px #89f);
    outline: none;
}

form[action="subscriptions"], form[action="config"] {
    margin: 10px 0;
}

div#config, form[action="subscriptions"] div#content {
    margin: -11px -11px 0;
}

textarea[name="config"], textarea[name="content"] {
    padding: 2px 5px;
    height: 200px !important;
    border: 1px solid #89f;
    box-shadow: none;
}

.iframed textarea[name="config"], .iframed textarea[name="content"] {
    border-left: none;
    border-right: none;
}

/* topnav */

#navi {
    padding: 3px !important;
    text-align: center !important;
}

#navi a, #navi a:visited {
    border: 1px solid #6b78bf;
    border: 1px solid #89f;
    border-radius: 2px;
    margin: 3px 0 !important;
    box-shadow: 0 0 1px 0 #ddd, inset 0 0 0 1px #fff;
    display: inline-block;
    outline: none;
    color: #448 !important;
}

#navi a:hover, #navi a:focus {
    border: 1px solid #f60;
    color: #f60 !important;
}

#navi a:active {
    border: 1px solid #f90;
    box-shadow: inset 2px 2px 2px #555;
    background-blend-mode: luminosity;
    color: #777 !important;
}

#navi a.abook {
    background: #fff url(/themes/susidns/images/abook.png) 5px center no-repeat;
    background: url(/themes/susidns/images/abook.png) 5px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eef 50%, #ddf 100%);
    padding: 3px 5px 3px 24px;
}

#navi a.abook:hover {
    background: url(/themes/susidns/images/abook.png) 5px center no-repeat, linear-gradient(to bottom, #fff 50%, #ffd 50%);
}

#navi a#subs {
    background: #fff url(/themes/susidns/images/subs.png) 5px center no-repeat;
    background: url(/themes/susidns/images/subs.png) 5px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eef 50%, #ddf 100%);
    padding: 3px 5px 3px 24px;
}

#navi a#subs:hover {
    background: url(/themes/susidns/images/subs.png) 5px center no-repeat, linear-gradient(to bottom, #fff 50%, #ffd 50%);
}

#navi a#config {
    background: #fff url(/themes/console/images/buttons/configure.png) 5px center no-repeat;
    background: url(/themes/console/images/buttons/configure.png) 5px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eef 50%, #ddf 100%);
    padding: 3px 5px 3px 24px;
}

#navi a#config:hover {
    background: url(/themes/console/images/buttons/configure_hover.png) 5px center no-repeat, linear-gradient(to bottom, #fff 50%, #ffd 50%);
}

#navi a#overview {
    background: #fff url(/themes/susidns/images/overview.png) 5px center no-repeat;
    background: url(/themes/susidns/images/overview.png) 5px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eef 50%, #ddf 100%);
    padding: 3px 5px 3px 24px;
}

#navi a#overview:hover {
    background: url(/themes/susidns/images/overview.png) 5px center no-repeat, linear-gradient(to bottom, #fff 50%, #ffd 50%);
}

.headline + #book > table {
    margin-top: 10px !important;
}

#book + #buttons {
    margin: -12px 10px 23px;
    border: 1px solid #89f;
    border-top: none;
    border-bottom: none;
}

.iframed #book + #buttons {
    margin: -11px 0 0;
}

.iframed #book + #buttons p {
    margin: 0;
}

/* page titles */

.headline h3 {
    padding: 10px 5px 10px 40px;
    background: url(/themes/susidns/images/addressbook.png) 10px center no-repeat;
    background: url(/themes/susidns/images/addressbook.png) 10px center no-repeat, linear-gradient(to bottom, #fff 50%, #eff2ff 50%);
    font-size: 12pt;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    word-spacing: 0.1em;
}

.headline#subscriptions h3 {
    background: url(/themes/susidns/images/subs_24.png) 10px center no-repeat;
    background: url(/themes/susidns/images/subs_24.png) 10px center no-repeat, linear-gradient(to bottom, #fff 50%, #eff2ff 50%);
}

.headline#configure h3 {
    background: url(/themes/susidns/images/configure_24.png) 10px center no-repeat;
    background: url(/themes/susidns/images/configure_24.png) 10px center no-repeat, linear-gradient(to bottom, #fff 50%, #eff2ff 50%);
}

.headline h4 {
    padding: 5px 10px 5px 40px;
    background: #eff2ff url(/themes/susidns/images/drive.png) 13px center no-repeat;
}

p#filtered {
    background: #fff url(/themes/console/images/buttons/filter.png) 18px center no-repeat;
    padding: 0 10px 0 38px !important;
}

p.book {
    background: #fff url(/themes/susidns/images/abook.png) 18px center no-repeat;
    padding: 0 10px 0 38px !important;
}

.iframed p#filtered, .iframed p.book {
    background: url(/themes/susidns/images/abook.png) 18px center no-repeat;
}

/* export hosts */

#export {
    text-align: right;
    margin-top: -36px;
    margin-bottom: -4px;
}

/* hide export button on published page when empty */
#messages + form[action="export"] {
    display: none;
}

#filter {
    margin-top: -2px !important;
}

p#filtered {
    padding-right: 200px !important;
    padding-top: 2px !important;
    padding: 2px 200px 0 20px !important;
    background-position: left center !important;
}

#book p {
    margin-left: 2px;
}

#book p.buttons {
    margin-left: -11px;
}

p.book {
    padding-left: 26px !important;
    background-position: left center !important;
}

/* host details page */

#host_details td {
    padding: 7px 10px !important;
}

#host_details td:first-child {
    padding-right: 0 !important;
    width: 10%;
    white-space: nowrap;
    font-weight: bold;
    text-align: right;
}

#host_details td:last-child {
    width: 90%;
    text-align: left;
    border-left: none !important;
    border-right: none !important;
}

#host_details td:last-child b {
    margin: 0 5px 0 8px;
}

#host_details td.destinations {
    background: none;
}

#host_details tr:hover {
    background: none !important;
}

#host_details .destaddress {
    font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace !important;
    word-break: break-all !important;
    white-space: normal !important;
}

/* end host details */

.names img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 3px 10px 3px 1px;
    padding: 1px;
    border: 1px solid #89f;
    border-radius: 2px;
    background: #fff;
}

.names img:hover, .names a:focus img {
    filter: drop-shadow(0 0 1px #f60) !important;
    box-shadow: 0 0 0 1px #f60;
}

.names a:active img, .names a:focus img {
    transform: rotate(45deg) scale(0.8);
    transition: ease all 0.1s 0s;
}

/* hostname list */

#host_list th:first-child,
#host_list td:first-child {
    width: 150px;
    width: 30%;
    white-space: nowrap;
    padding-left: 5px;
}

#host_list th:first-child {
    padding-left: 39px;
}

#host_list td:last-child {
    width: 16px;
    white-space: nowrap;
    font-weight: bold;
}

#host_list th:nth-child(2), #host_list td:nth-child(2),
#host_list th:nth-child(3), #host_list td:nth-child(3),
#host_list th:nth-child(4), #host_list td:nth-child(4) {
    width: 35px;
    width: 8%;
    padding: 0 5px !important;
    white-space: nowrap;
    text-align: center;
}

#host_list td:nth-child(2) a:not(old) {
    font-size: 0 !important;
}

#host_list td:nth-child(2) a::after {
    content: url(/themes/console/images/buttons/link.png);
    text-align: center;
    filter: drop-shadow(0 0 1px #555);
    cursor: pointer;
}

#host_list td:nth-child(3) a:not(old) {
    font-size: 0 !important;
}

#host_list td:nth-child(3) a::after {
    content: url(/themes/console/images/buttons/helper.png);
    cursor: pointer;
    filter: drop-shadow(0 0 1px #555);
}

#host_list th:nth-child(4), #host_list td:nth-child(4) {
    padding-right: 30px !important;
}

#host_list td:nth-child(4) a:not(old) {
    font-size: 0 !important;
}

#host_list td:nth-child(4) .addrhlpr a::after {
    content: url(/themes/console/images/buttons/fullview.png);
    text-align: center;
    padding: 0 10px !important;
    filter: drop-shadow(0 0 1px #555);
    cursor: pointer;
}

#host_list td:nth-child(2) a:hover, #host_list td:nth-child(3) a:hover, #host_list td:nth-child(4) a:hover,
#host_list td:nth-child(2) a:focus, #host_list td:nth-child(3) a:focus, #host_list td:nth-child(4) a:focus {
    filter: drop-shadow(0 0 1px #f60);
}

#host_list .destaddress {
    overflow: auto !important;
    white-space: nowrap;
    font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace !important;
    font-weight: normal;
    color: #555;
    padding: 3px !important;
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

#host_list .destaddress:not(old) {
    overflow: hidden !important;
    text-overflow: ellipsis;
}

#host_list .destaddress:not(old):focus {
    padding-top: 0;
    padding-bottom: 0;
    overflow: auto !important;
    text-overflow: clip;
    margin: 1px 0 -1px;
}

/* end hostname list */

.destaddress:focus {
    background: #ffe;
}

td.destinations {
    max-width: 50px !important;
    border-left: 1px inset #ccf;
    border-right: 1px inset #ccf;
}

/* responsive layout */

@media screen and (max-width: 1000px) {
.iframed .illustrate {
    margin: 10px auto 10px;
    min-width: 450px;
    width: 90%;
}
}

@media screen and (max-width: 1200px) {
#filter {
    padding: 0 5px;
}

#filter p {
    margin-left: 0;
    margin-right: 0;
}

#filter a {
    min-width: 6px;
    padding: 0 6px !important;
    line-height: 150%;
}
}

@media screen and (min-width: 1400px) {
body, p, td, textarea, input, button, li, a {
    font-size: 10pt !important;
}

code, tt {
    font-size: 9pt !important;
}

h4, #navi a {
    font-size: 11pt;
}

h3 {
    font-size: 12pt !important;
}

#export {
    margin-top: -40px !important;
}

#filter span, #filter a {
    font-size: 10pt !important;
    min-width: 16px !important;
}

#filter span {
    font-size: 11pt !important;
    min-width: 400px !important;
}

.illustrate {
    margin-top: 15px;
}
}

/* end responsive layout */

/* Edge/IE tweaks */

_:-ms-lang(x), * {
    filter: none !important;
}

/* end Edge/IE tweaks */

/* custom radios/checkboxes to enforce color scheme when OS widgets are non-standard  */
@supports (background-blend-mode: luminosity) { /* exclude ms browsers */
input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked,
input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    position: relative;
    width: 19px !important;
    height: 19px !important;
    vertical-align: middle !important;
    box-sizing: border-box;
    border: 1px solid #99f !important;
    background: #f8f8ff;
    -moz-appearance: none;
    -webkit-appearance: inherit;
    filter: drop-shadow(0 0 1px #ccf);
    will-change: transform;
}

input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked {
    border-radius: 2px;
    box-shadow: inset 1px 1px 1px rgba(204, 204, 204, 0.6);
}

input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    border-radius: 50%;
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before,
input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
    position: absolute;
    transition: linear all 0.05s;
    transform: scale(1);
}

.optbox:not(:checked) {
    box-shadow: inset 2px 2px 1px rgba(204, 204, 240, 0.6);
}

input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    line-height: 80%;
    border-radius: 1px;
    background: #67f;
    transform: scale(1);
    transition: linear all .05s;
}

input[type="radio"]:checked::before {
    content: "";
    border-radius: 50%;
    left: 25%;
    top: 25%;
    width: 9px;
    height: 9px;
    background: #67f;
}

input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
    transform: scale(0);
}

input[type="checkbox"]:hover, input[type="radio"]:hover, input[type="checkbox"]:focus, input[type="radio"]:focus {
    background: #fff;
    width: 19px !important;
    height: 19px !important;
    border: 1px solid #67f !important;
    box-shadow: 0 0 2px #f60 !important;
    filter: drop-shadow(0 0 3px #89f) !important;
    filter: none !important;
}

input[type="checkbox"][disabled], input[type="radio"][disabled], input[type="checkbox"][disabled]:hover, input[type="radio"][disabled]:hover,
input[type="checkbox"][disabled]:checked, input[type="radio"][disabled]:checked, input[type="checkbox"][disabled]:checked:hover, input[type="radio"][disabled]:checked:hover {
    filter: none !important;
    box-shadow: none !important;
    opacity: 0.5;
}
}

/* end custom radios/checkboxes */

#hostNotes td:first-child {
    padding-top: 8px !important;
    vertical-align: top;
}

#hostNotes textarea {
    margin: 4px 0;
}

#hostNotes .accept {
    margin-top: 4px;
    float: right;
}

