/* I2PControl theme by dr|z3d */

@import url("/themes/fonts/DroidSans.css");

html {
    background: #000002;
    background: repeating-linear-gradient(135deg, #000 2px, #000018 3px, #000018 4px), repeating-linear-gradient(45deg, #000 2px, #00001a 3px, #00001a 4px);
    background-blend-mode: difference;
}

body {
    margin: 12% auto;
    padding: 15px 15px 5px;
    width: 60%;
    min-width: 700px;
    max-width: 800px;
    color: #fff;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
    font-size: 12pt;
    border: 1px solid #101020;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px #000, inset 0 0 0 1px #300, inset 0 0 2px 2px #003;
    background: #000010;
    background: linear-gradient(to bottom, #00001a, #000010);
}

code {
    white-space: nowrap;
    font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
    color: #000;
    border-radius: 2px;
    background: #070;
}

p {
    margin: 20px;
    line-height: 150%;
}

#password {
    text-align: right;
}

input {
    margin: 8px;
    padding: 5px;
    border: 1px solid #000;
    box-shadow: 0 0 0 1px #111
}

input[type="password"] {
    box-shadow: inset 2px 2px 2px #333;
    background: #ccc;
}

input[type="password"]:focus {
    box-shadow: inset 0 0 0 1px #900, 0 0 0 1px rgba(128,0,0,0.5);
    background: #fff;
}

input[type="submit"] {
    margin: 0;
    padding: 5px 8px;
    font-weight: bold;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #000, 0 0 0 2px #300;
    background: #000;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #900;
    border: 1px solid #900;
    box-shadow: 0 0 0 1px #000;
}

hr {
    height: 1px;
    color: transparent;
    background: transparent;
    border-bottom: 1px solid #101020;
}

h1 {
    margin: -15px -15px 10px;
    padding: 10px 15px;
    font-size: 14pt;
    border-bottom: 1px solid #101020;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 0 0 1px #300;
    background: #181818;
    background: linear-gradient(to bottom, #181828 50%, #080818 50%);
}

h1 a {
    margin-top: 3px;
    float: right;
    display: inline-block;
    vertical-align: middle;
}

a, a:visited {
    color: #b00;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    color: #f00;
}

.prompt {
    width: 220px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    text-align: right;
}

@media screen and (max-height: 600px) {
body {
    margin: 5% auto 10px;
}
}

@media screen and (max-width: 800px) {
body {
    padding: 10px 10px 5px;
    min-width: 600px;
    font-size: 11pt;
}

h1 {
    margin: -10px -10px 10px;
}

p {
    margin: 15px 10px;
}

input[type="password"] {
    width: 120px;
}
}
