/* I2P TunnelManager theme: "Camo". Aka "dark". As in ops. */
/* Author: dr|z3d */

@import url("/themes/fonts/DroidSans.css");

html {
    min-height: 100%;
    scrollbar-color: rgba(8,48,8,0.8) #000800;
    scrollbar-width: thin;
}

html:hover {
    scrollbar-color: rgba(16,72,16,0.8) #000800;
    scrollbar-width: auto;
    transition: ease scrollbar-color .2s;
}

body {
    margin: 0 8px 12px;
    padding: 0;
    text-align: center;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", "DejaVu Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
    background: repeating-linear-gradient(to bottom, rgba(0,0,0,.9) 1px, rgba(0,8,0,.5) 2px, rgba(0,8,0,.5) 3px), url(images/camotile2.png) top left scroll #010;
    color: #ee9;
    font-size: 9pt;
}

body.iframed {
    background: none !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

::selection {
    background: #030 !important;
    color: white;
}

::-moz-selection {
    background: #030 !important;
    color: white;
}

* {
    outline: none;
}

* {
    scrollbar-color: rgba(16,48,16,0.4) rgba(0,0,0,0);
    transition: ease scrollbar-color .5s;
}

*:hover {
    scrollbar-color: rgba(24,80,24,0.8) rgba(0,0,0,.9);
    transition: ease scrollbar-color .2s;
}

div {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: #494;
    outline: none;
}

a:visited {
    color: #7b7;
}

a:hover, a:focus {
    color: #f60;
}

a:active {
    color: #f90;
}

.accesskey {
    display: none !important;
    text-decoration: underline;
}

form {
    margin: 0;
}

br {
    clear: left;
}

.statusNotRunning {
    color: #d00;
    background: url(/themes/console/images/info/tunnelStopped.png);
}

.statusRunning {
    color: #0b0;
    background: url(/themes/console/images/info/tunnelRunning.png);
}

.statusStarting {
    color: #393;
    background: url(/themes/console/images/info/tunnelStarting.png);
}

.statusStandby {
    color: #d30;
    background: url(/themes/console/images/info/tunnelStandby.png);
}

div[class^="status"] {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 16px;
    font-size: 0 !important;
    text-align: center;
    background-size: auto 16px;
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1500px) {
div[class^="status"] {
    height: 18px;
    background-size: auto 18px !important;
}
}

hr {
    display: none;
}

#clientHost {
    width: 300px;
}

#clientPort {
    width: 100px;
}

.panel {
    margin: 8px auto;
    padding: 5px 3px 5px 1px !important;
    width: calc(100% - 14px);
    min-width: 660px;
    max-width: 1800px;
    overflow: hidden;
    text-align: left;
    color: #ee9;
    background: none;
}

.panel:first-child {
    margin-top: 0;
}

.panel:last-child {
    margin-bottom: 5px;
}

.panel#clients {
    margin-top: -23px !important;
}

.iframed .panel#clients {
    margin-top: -18px !important;
}

.iframed .panel.iframed {
    margin: 0 auto -8px !important;
}

.iframed .panel {
    margin: 14px auto -10px !important;
    width: 100%;
}

.iframed .panel#clients, #tunnelEditPage .panel, #tunnelRegistration .panel, #tunnelWizardPage .panel, #tunnelSSL .panel {
    margin-bottom: 6px !important;
}

/*@supports not (-moz-appearance: none) {
.iframed .panel#clients, #tunnelEditPage .panel, #tunnelRegistration .panel, #tunnelWizardPage .panel, #tunnelSSL .panel {
    margin-bottom: 10px !important;
}
}*/

.iframed #messages, .iframed #messages, #tunnelEditPage .panel, #tunnelRegistration .panel, #tunnelWizardPage .panel, #tunnelSSL .panel {
    margin-top: -5px !important;
}

#globalTunnelControl {
    margin: -13px auto -13px;
}

.iframed #globalTunnelControl {
    margin: 3px auto -26px !important;
}

.iframed #messages + #globalTunnelControl {
    margin: 6px auto -26px !important;
}

#globalTunnelControl.iframed.panel:first-child ~ .panel#clients::after {
    content: "";
    display: block;
    height: 5px !important;
    width: 100%;
}

#serverTunnels {
    margin: -1px 0 8px;
}

h2, h3 {
    margin: 10px 0 -1px;
    padding: 8px 10px 8px 34px;
    border: 1px solid #242;
    font-size: 11pt;
    color: #ee9;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    word-spacing: 0.1em;
    text-shadow: 0 1px 1px #000;
    box-shadow: inset 0 0 0 1px #000;
    background: linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,0,0,.5) 2px, rgba(0,16,0,.5) 3px), linear-gradient(to bottom, #004000, #000 75%), url(/themes/console/dark/images/camotile2.png) top left !important;
}

/* title images */

#messages h2 {
    margin-top: 12px;
    background: url(/themes/console/images/info/logs.png) left 8px center no-repeat, linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
    background: url(/themes/console/images/info/logs.png) left 8px center no-repeat, repeating-linear-gradient(to right, rgba(0,0,0,.4) 1px, rgba(0,0,0,.4) 2px, rgba(0,32,0,.6) 3px), linear-gradient(to bottom, #1a261a, #223022 7%, #212f21 9%, #172317 21%, #091109 49%, #050d05 50%, #020602 51%, #010301 53%, #000000 56%), url(/themes/console/dark/images/camotile2.png) top left !important;
    background-size: 20px auto, 100% 100%, 100% 100%, 175px 175px !important;
    background-blend-mode: normal, normal, exclusion, normal;
}

#globalTunnelControl h2 {
    background: url(/themes/console/images/info/control.png) left 8px center no-repeat, linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
    background: url(/themes/console/images/info/control.png) left 8px center no-repeat, repeating-linear-gradient(to right, rgba(0,0,0,.4) 1px, rgba(0,0,0,.4) 2px, rgba(0,32,0,.6) 3px), linear-gradient(to bottom, #1a261a, #223022 7%, #212f21 9%, #172317 21%, #091109 49%, #050d05 50%, #020602 51%, #010301 53%, #000000 56%), url(/themes/console/dark/images/camotile2.png) top left !important;
    background-size: 20px auto, 100% 100%, 100% 100%, 175px 175px !important;
    background-blend-mode: normal, normal, exclusion, normal;
}

#servers h2 {
    background: url(/themes/console/images/info/server.png) left 8px center no-repeat, linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
    background: url(/themes/console/images/info/server.png) left 8px center no-repeat, repeating-linear-gradient(to right, rgba(0,0,0,.4) 1px, rgba(0,0,0,.4) 2px, rgba(0,32,0,.6) 3px), linear-gradient(to bottom, #1a261a, #223022 7%, #212f21 9%, #172317 21%, #091109 49%, #050d05 50%, #020602 51%, #010301 53%, #000000 56%), url(/themes/console/dark/images/camotile2.png) top left !important;
    background-size: 20px auto, 100% 100%, 100% 100%, 175px 175px !important;
    background-blend-mode: normal, normal, exclusion, normal;
}

#clients h2 {
    background: url(/themes/console/images/info/client.png) left 8px center no-repeat, linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
    background: url(/themes/console/images/info/client.png) left 8px center no-repeat, repeating-linear-gradient(to right, rgba(0,0,0,.4) 1px, rgba(0,0,0,.4) 2px, rgba(0,32,0,.6) 3px), linear-gradient(to bottom, #1a261a, #223022 7%, #212f21 9%, #172317 21%, #091109 49%, #050d05 50%, #020602 51%, #010301 53%, #000000 56%), url(/themes/console/dark/images/camotile2.png) top left !important;
    background-size: 20px auto, 100% 100%, 100% 100%, 175px 175px !important;
    background-blend-mode: normal, normal, exclusion, normal;
}

#clients h2:not(.iframed) {
    margin-top: 12px;
}

#tunnelEditPage h2, #tunnelEditPage h3, #registration h2, #registration h3 {
    background: url(/themes/console/images/info/configure.png) left 8px center no-repeat, linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
    background: url(/themes/console/images/info/configure.png) left 8px center no-repeat, repeating-linear-gradient(to right, rgba(0,0,0,.4) 1px, rgba(0,0,0,.4) 2px, rgba(0,32,0,.6) 3px), linear-gradient(to bottom, #1a261a, #223022 7%, #212f21 9%, #172317 21%, #091109 49%, #050d05 50%, #020602 51%, #010301 53%, #000000 56%), url(/themes/console/dark/images/camotile2.png) top left !important;
    background-size: 20px auto, 100% 100%, 100% 100%, 175px 175px !important;
    background-blend-mode: normal, normal, exclusion, normal;
}

#wizardPanel h2, #ssl h2 {
    background: url(/themes/console/images/info/wizard.png) left 8px center no-repeat, linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
    background: url(/themes/console/images/info/wizard.png) left 8px center no-repeat, repeating-linear-gradient(to right, rgba(0,0,0,.4) 1px, rgba(0,0,0,.4) 2px, rgba(0,32,0,.6) 3px), linear-gradient(to bottom, #1a261a, #223022 7%, #212f21 9%, #172317 21%, #091109 49%, #050d05 50%, #020602 51%, #010301 53%, #000000 56%), url(/themes/console/dark/images/camotile2.png) top left !important;
    background-size: 20px auto, 100% 100%, 100% 100%, 175px 175px !important;
    background-blend-mode: normal, normal, exclusion, normal;
}

/* end title images */

.iframed h2 {
    margin: 14px 0 -1px;
}

h3 {
    border-radius: 0;
    margin-top: 12px;
}

.iframed #globalTunnelControl h2 {
    margin-top: 6px;
}

.panel table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #242;
    margin: 0;
}

#serverTunnels tr:first-child, #clientTunnels tr:first-child {
    background: #000;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,0,0,.5) 2px, rgba(0,16,0,.5) 3px), linear-gradient(to bottom, #002000, #000 75%);
    padding: 7px 5px;
}

#serverTunnels tr:first-child th, #clientTunnels tr:first-child th {
    background: none;
}

th {
    background: #000;
    background: linear-gradient(to bottom, #1a261a 0%, #223022 7%, #212f21 9%, #172317 21%, #091109 49%, #050d05 50%, #020602 51%, #010301 53%, #000000 56%, #000000 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,0,0,.5) 2px, rgba(0,16,0,.5) 3px), linear-gradient(to bottom, #002000, #000 75%);
    padding: 7px 5px;
    border-top: 1px solid #242;
    border-bottom: 1px solid #242;
    font-size: 9pt;
    color: #ee9;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    word-spacing: 0.1em;
}

th {
    padding-left: 10px;
}

#tunnelListPage th {
    text-transform: none;
    letter-spacing: 0;
    word-spacing: 0;
}

td {
    border-top: 1px solid #242;
    vertical-align: middle;
    padding: 5px;
    font-size: 9pt;
}

td > input {
    margin-left: 0;
}

td > b {
    margin-right: 5px;
    display: inline-block;
    min-width: 30px;
}

td.infohelp {
    background: url(images/infohelp.png) 10px center no-repeat;
    background-size: 20px 20px;
    padding: 15px 10px 15px 38px !important;
}

.tunnelConfig td {
    width: 50%;
}

.tunnelConfig th:first-child, .tunnelConfig td:first-child {
    border-left: 1px solid #242;
}

.tunnelConfig th:last-child, .tunnelConfig td:last-child {
    border-right: 1px solid #242;
}

#clientTunnels tr, #serverTunnels tr, .tunnelConfig tr {
    background: rgba(0,4,0,0.4);
}

.tunnelProperties {
    background: #000 !important;
    overflow: hidden;
    text-align: left;
    border: 1px solid #242;
    border-bottom: 1px inset #010 !important;
}

.tunnelProperties:hover, .tunnelProperties:hover + tr td, .tunnelProperties:hover + tr + tr td {
    background: #002000 !important;
    box-shadow: none !important;
}

.tunnelProperties + tr + tr, .tunnelProperties + tr + tr td {
    border-top: 1px solid transparent !important;
}

.newTunnel {
    text-align: right;
    border-top: 1px solid #242 !important;
    padding: 5px !important;
    background: #fff;
}

.newTunnel select, .newTunnel input, .newTunnel .control {
    margin: 2px !important;
}

.newtunnel form {
    width: 100%;
    text-align: right;
}

.tunnelName, .tunnelDescription {
    width: 25%;
    min-width: 150px;
}

.tunnelName a {
    background: url(/themes/console/images/buttons/configure.png) left center no-repeat;
    padding: 3px 3px 3px 20px !important;
}

.tunnelName a:hover {
    filter: drop-shadow(0 0 1px #730);
}

.tunnelName a {
    font-weight: bold;
}

.tunnelType {
    width: 25%;
}

.tunnelPreview {
    text-align: left;
}

.tunnelPreview, .tunnelPort {
    width: 15%;
    text-align: center;
}

.tunnelLocation, .tunnelInterface {
    width: 20%;
}

.tunnelLocation font[color="red"] {
    margin-left: 3px;
}

.tunnelStatus {
    text-align: center;
    width: 10%;
    min-width: 48px;
}

.tunnelControl {
    width: 5%;
    text-align: right;
    white-space: nowrap;
}

th.tunnelControl {
    text-align: center;
}

textarea {
    border: 1px solid #252;
    background: #000;
    margin-left: 4px;
    margin-right: 4px;
    font: 9pt "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
    resize: none;
    box-sizing: border-box;
    border-radius: 2px;
}

textarea:focus {
    color: #ee9;
    background: #000 !important;
    filter: drop-shadow(0 0 1px #880);
    transition: ease filter 0.3s 0s;
    box-shadow: inset 0 0 1px #880;
    outline: none;
}

textarea#statusMessages, textarea#statusMessages:active, textarea#statusMessages:focus {
    margin: 0;
    padding: 2px 4px 2px 8px;
    width: 100%;
    height: 80px;
    color: #69f;
    font-family: "Droid Sans Mono", "Noto Mono", Consolas, "Lucida Console", "DejaVu Sans Mono", monospace;
    font-size: 8.5pt;
    font-weight: bold;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 3px 3px #000 !important;
    background: #000;
    background: linear-gradient(to bottom, #000 0%, #010 100%) !important;
}

_:-ms-lang(x), textarea#statusMessages, textarea#statusMessages:active, textarea#statusMessages:focus {
    box-shadow: none !important;
}

.freetext {
    width: 150px;
    border: 1px solid #252;
    padding: 4px;
    font: 8.5pt "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
    background: #fff;
    color: #333;
    border-radius: 2px;
    box-shadow: inset 2px 2px 1px #ccc;
}

.freetext.tunnelDescriptionText, .freetext.tunnelName, #privKeyFile, #websiteName, .proxyList, #localDest {
    width: calc(100% - 10px) !important;
}

.freetext:focus {
    box-shadow: 0 0 1px #f60;
    color: #111;
    outline: none;
}

.freetext[readonly], .freetext[readonly]:focus {
    background: #000 !important;
    box-shadow: inset 2px 2px 1px #000;
    color: #885;
    cursor: default;
    border: 1px solid #252 !important;
    opacity: 0.8;
}

input[type="hidden"], input.default {
    display: none;
}

input, select, button, a {
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", "DejaVu Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 9pt;
    border-radius: 2px;
    color: #ee9;
    resize: none;
    cursor: pointer;
}

input {
    background-color: #020;
    color: #ee9;
    margin: 0 2px 0 2px;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", "DejaVu Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
    border: 1px solid #252;
    text-decoration: none;
}

input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, button::-moz-focus-inner {
    border: none;
    outline: none;
}

input[type="file"] {
    background: none;
    border: none;
}

input[type="checkbox"], input[type="radio"] {
    vertical-align: sub;
    min-width: 16px;
    min-height: 16px;
    margin: 0;
    background: none;
    filter: invert(100%) sepia(100%) hue-rotate(70deg) saturate(200%); /* colorize radios and checkboxes */
}

input[type="checkbox"]:hover, input[type="radio"]:hover,
input[type="checkbox"]:focus, input[type="radio"]:focus  {
    outline: none;
    filter: invert(100%) sepia(100%) hue-rotate(70deg) saturate(200%) drop-shadow(0 0 3px #f60);
}

input[type="radio"][disabled]:hover, input[type="radio"][disabled]:focus {
    box-shadow: none !important;
    filter: invert(100%) sepia(100%) hue-rotate(70deg) saturate(200%) !important;
}

.editDisabled input[type="radio"], .editDisabled label {
    cursor: not-allowed !important;
}

.editDisabled input[type="radio"]:checked {
    opacity: 1 !important;
}

.editDisabled input[type="radio"]:not(:checked) {
    opacity: 0.4;
}

.editDisabled .optbox:checked + span {
    font-weight: bold;
/*    text-decoration: underline;*/
}

.editDisabled .optbox:not(:checked), .editDisabled .optbox:not(:checked) + span {
    display: none;
}

.editDisabled .multiOption {
    margin: 0;
    display: inline;
}

label {
    cursor: pointer;
}

input[type="password"] {
    cursor: text;
}

input[type="text"], input[type="password"], textarea, textarea[readonly="readonly"]:focus  {
    padding: 6px;
    color: #bb7;
    font-weight: bold;
    box-shadow: inset 0 0 3px 3px #000;
    background: #000;
    background: linear-gradient(to bottom, #000 0%, #010 100%);
    filter: none;
}

textarea[readonly="readonly"]:focus {
    box-shadow: inset 0 0 0 1px #880;
}

input[type="text"]:focus, input[type="password"]:focus {
    color: #ee9;
    background: #000;
    filter: drop-shadow(0 0 1px #880);
    transition: ease filter 0.3s 0s;
}

input[readonly="readonly"]:focus {
    filter: none;
    background: linear-gradient(to bottom, #000 0%, #010 100%) !important;
}

a.control, input.control {
    white-space: nowrap;
    vertical-align: middle;
}

.control {
    margin: 2px !important;
    padding: 7px 12px 7px !important;
    min-width: 92px !important;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 8.5pt;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    color: #494 !important;
    border-radius: 2px;
    text-decoration: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width: 1500px) {
.control {
    padding: 8px 12px 8px !important;
}
}

.control, .control:link, .control:visited {
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #000;
    box-sizing: border-box;
}

.control:link {
    color: #494 !important;
}

.control:visited {
    color: #494 !important;
    text-decoration: none;
}

.control:hover, .control:focus, select:hover, select:focus {
    text-decoration: none;
    color: #f60 !important;
    border: 1px solid #f60 !important;
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px rgba(255,86,0,0.8), inset 0 0 0 3px #000 !important;
    background: #000 !important;
}

.control:active {
    background: #f60 !important;
    color: #ee9 !important;
    text-decoration: none;
    box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px 2px #310 !important;
}

a.control {
    display: inline-block;
}

select {
    padding: 6px 18px 6px 8px !important;
    min-width: 120px;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", "DejaVu Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 8.5pt !important;
    color: #494;
    border-radius: 2px;
    background: #000 url(images/dropdown.png) right 2px center no-repeat !important;
    background: #000 url(images/dropdown.png) right 2px center no-repeat, linear-gradient(to bottom, #001000, #000 5%, #000 95%, #001000) !important;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

@media screen and (min-width: 1500px) {
select {
    padding: 7px 18px 7px 8px !important;
}
}

/*@supports not (-moz-appearance: none) {
select {
    padding: 6px 18px 6px 8px !important;
}
}*/

select option { /* dropdown menu reverts to normal font-weight */
    font-weight: normal;
    font-size: 9.5pt;
}

select option:hover, select option:checked {
    box-shadow: inset 0 0 20px 20px #f60;
}

select:focus, select:hover {
    color: #f60;
    border: 1px solid #f60;
}

select:hover {
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px rgba(255,86,0,0.8), inset 0 0 0 3px #000;
}

select:hover, select:focus, select:active {
    background: #000 url(images/dropdown_hover.png) right 2px center no-repeat !important;
}

select::-ms-expand {
    display: none;
}

input, select, button {
    font-size: 9pt;
    vertical-align: middle;
}

button, input[type="submit"], input[type="reset"], a.control, select {
    line-height: 120%;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", "DejaVu Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
    font-size: 8.5pt;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #151, inset 0 0 0 2px #000, inset 0 0 2px 2px #040, inset 0 0 0 3px #000, 0 0 0 1px rgba(0,16,0,.2) !important;
    background: linear-gradient(to bottom, #001000, #000 5%, #000 95%, #001000);
}

.buttons, .newTunnel {
    padding: 7px 5px !important;
    text-align: right !important;
    background: #000;
    background: linear-gradient(to bottom, #010, #000);
    background: linear-gradient(-135deg, #000, rgba(0,0,0,0) 40%), repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,0,0,.5) 2px, rgba(0,16,0,.5) 3px), linear-gradient(to bottom, #020, #000 75%);
}

.newTunnel, .newTunnel > *, .newTunnel form > * {
    vertical-align: middle;
}

.tunnelDescriptionLabel, .tunnelDestinationLabel {
    text-align: right;
    min-width: 150px;
    display: inline-block;
    margin-right: 3px;
    white-space: nowrap;
}

input {
    float: none;
    vertical-align: middle;
}

#hostField, #leasesetKey, #userAgents {
    width: 90% !important;
    margin: 0 !important;
    text-align: left !important;
}

#tunnelDepth, #tunnelVariance, #tunnelQuantity, #tunnelBackupQuantity,
#tunnelDepthOut, #tunnelVarianceOut, #tunnelQuantityOut, #tunnelBackupQuantityOut, #encryptMode {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

#tunnelDepth, #tunnelVariance, #tunnelQuantity, #tunnelBackupQuantity,
#tunnelDepthOut, #tunnelVarianceOut, #tunnelQuantityOut, #tunnelBackupQuantityOut,
#localDestination, #customOptions, #leasesetKey, #name, #description, textarea[name="accessList"] {
    width: 100% !important;
    margin: 0 !important;
    text-align: left !important;
}

#oldName {
    min-width: 280px;
    width: 30%;
}

select#profile, select#connectionProfile {
    margin: 5px !important;
}

select#connectionProfile, #targetDestination {
    width: calc(100% - 10px);
}

#customOptions, #userAgents {
    width: calc(100% - 10px) !important;
    width: 100% !important;
}

#localDestination, textarea[name="accessList"], #hostField {
    width: calc(100% - 5px) !important;
    width: 100% !important;
    margin: 3px 0 !important;
}

textarea[name="accessList"] {
    margin: 0 !important;
    height: 80px !important;
}

#localDestination {
    height: 34px !important;
    margin: 0 !important;
}

.multiOption {
    display: inline-block;
    margin: 5px 10px 5px 0;
}

.multiOption input {
    vertical-align: sub;
}

.multiOption#isServer {
    background: url(/themes/console/images/server.png) left center no-repeat;
    padding-left: 20px;
}

.multiOption#isClient {
    background: url(/themes/console/images/client.png) left center no-repeat;
    padding-left: 21px;
}

#throttler, #clientAuth {
    border: none !important;
}

#clientAuth {
    margin-bottom: -1px;
}

td#throttle, #clientAuthConfig {
    padding: 0;
}

#throttler th {
    padding-left: 20px;
}

#throttler td {
    width: 20%;
}

#throttler td:first-child {
    text-align: right;
    width: 20%;
    white-space: nowrap;
}

#throttler th:first-child, #throttler td:first-child,
#clientAuth th:first-child, #clientAuth td:first-child {
    border-left: none !important;
}

#throttler th:last-child, #throttler td:last-child,
#clientAuth th:last-child, #clientAuth td:last-child {
    border-right: none !important;
}

#throttler tr:first-child th, #clientAuth tr:first-child td {
    border-top: none;
}

td.blankColumn {
    width: 20% !important;
}

#throttler tr:nth-child(odd) {
    background: rgba(0,16,0,0.7);
}

#throttler tr:nth-child(even) {
    background: rgba(0,8,0,0.7);
}

#throttler input[type="text"] {
    width: 80px;
}

table {
    background: #000 url(images/camotile2.png);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(images/camotile2.png);
}

#tunnelMessages {
    padding: 0;
}

.required:not(old) {
    display: none;
}

input::-moz-placeholder {
    color: #f00;
    font-weight: bold;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #f00;
    font-weight: bold;
    opacity: 1;
}

input:focus::-moz-placeholder {
    opacity: 0;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
}

input.tunnelName, input.tunnelDescription, #userAgents {
    width: 80%;
    min-width: 280px;
    text-overflow: ellipsis;
}

#privKeyFile, #targetHost, .host {
    width: 30%;
    min-width: 250px;
}

.port, .quantity, .period {
    width: 70px;
}

@media screen and (max-width: 1100px) {
.nowrap {
    margin-right: 10px !important;
}

.nowrap .port, .nowrap .quantity, .nowrap .period {
    width: 60px;
}

.nowrap .multiOption {
    margin-right: 3px !important;
}
}

@media screen and (max-width: 1000px) {
.nowrap .port, .nowrap .quantity, .nowrap .period {
    width: 40px;
}
}

.username, .password {
    width: 200px;
}

.username {
    background: url(/themes/console/images/buttons/user.png) 3px center no-repeat, linear-gradient(to bottom, #000 0%, #010 100%) !important;
    padding-left: 22px;
}

.password {
    background: url(/themes/console/images/buttons/password.png) 3px center no-repeat, linear-gradient(to bottom, #000 0%, #010 100%) !important;
    padding-left: 22px;
}

.username:focus {
    background: #000 url(/themes/console/images/buttons/user.png) 3px center no-repeat !important;
}

.password:focus {
    background: #000 url(/themes/console/images/buttons/password.png) 3px center no-repeat !important;
}

#notReady {
    border: 1px solid #900;
    padding: 30px;
    background: #020;
    margin: 30px auto;
    width: 400px;
    text-align: center;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #000;
    font-size: 11pt;
    font-weight: bold;
}

/* wizard specifics */

#wizardPanel {
    font-size: 10pt;
}

#wizardTable {
    padding: 0;
}

#wizardTunnelTypes td:first-child, #wizardSummary td:first-child {
    font-weight: bold;
    width: 10%;
    min-width: 150px;
    text-align: right;
    white-space: nowrap;
}

#wizardTunnelTypes td:last-child {
    text-align: justify;
    padding: 10px 15px 10px 10px;
}

#wizardTunnelTypes select {
    margin-left: 0 !important;
}

#wizardTunnelTypes, #wizardSummary {
    border: none;
    margin-top: -1px;
}

#wizardTunnelTypes tr:nth-child(even), #wizardSummary tr:nth-child(even) {
    background: #010;
}

#wizardTunnelTypes tr:nth-child(odd), #wizardSummary tr:nth-child(odd) {
    background: #000800;
}

#wizardTunnelTypes tr:last-child {
    background: #000;
}

#wizardPanel #name, #wizardPanel #description {
    width: 300px !important;
}

#wizardPanel p {
    padding: 5px;
    margin: 0;
    text-align: justify;
}

#wizardPanel p, #wizardPanel td {
    line-height: 140%;
}

#wizardPanel input::-moz-placeholder {
    color: #bb7;
    font-weight: normal;
}

#wizardPanel ::-webkit-input-placeholder {
    color: #bb7;
    font-weight: normal;
}

#wizardPanel .options {
    padding: 10px;
}

#wizardPanel .tag {
    width: 10%;
    min-width: 150px;
    white-space: nowrap;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    margin-right: 3px;
}

#wizardPanel select {
    min-width: 160px;
    margin: 5px 0 !important;
}

#wizardPanel .infohelp p { /* wizard complete - advanced options info */
    margin: 0;
    padding: 0;
}

/* more space */

.tunnelConfig td, td {
    border-top: 1px inset #1c3f1b;
    padding: 8px 5px;
}

input[type="checkbox"], input[type="radio"] {
    margin: 5px 3px 5px 5px;
}

.freetext, .tunnelConfig textarea, #customOptions, #userAgents, #hostField {
    margin: 5px !important;
    cursor: text;
}

.multiOption {
    margin: 5px 10px 5px 0;
}

#tunnelDepth, #tunnelVariance, #tunnelQuantity, #tunnelBackupQuantity, #tunnelDepthOut, #tunnelVarianceOut, #sigType, .clientKey, .clientName,
#tunnelQuantityOut, #tunnelBackupQuantityOut, #leasesetKey, #encryptMode, select#profile, input[name="nofilter_blindedPassword"] {
    margin: 5px !important;
    width: calc(100% - 10px) !important;
}

.tunnelConfig select, select#profile, select#connectionProfile {
    margin: 5px !important;
}

textarea[name="accessList"], #hostField, #localDestination, .authentication {
    width: calc(100% - 10px) !important;
    margin: 5px !important;
}

#customOptions, #userAgents, #leasesetKey, #filterDefinition {
    width: calc(100% - 10px) !important;
}

.tunnelConfig td > b {
    min-width: 30px;
    display: inline-block;
    margin-left: 5px;
}

.tunnelDestination {
    padding-bottom: 1px !important;
    border-bottom: 1px solid transparent !important;
}

_:-ms-lang(x), .tunnelDestination {
    border-bottom: none !important;
}

_:-ms-lang(x), .tunnelDescription {
    border-top: none !important;
}

_:-ms-lang(x), .tunnelProperties {
    border-bottom: 1px solid #010 !important;
}

/*.tunnelDescription {
    padding-top: 1px !important;
}*/

.tunnelDestination b, .tunnelDescription b {
    color: #bb7;
}

td.tunnelDestination, td.tunnelDescription {
    background: linear-gradient(to right, #000 50%, #010) !important;
}

/* end more space */

/* responsive layout */

@media screen and (max-width: 800px) {
.statusNotRunning, .statusRunning, .statusStarting, .statusStandby {
    background-size: auto 14px;
}

.port, .quantity, .period {
    width: 60px;
}

#clientHost, .host {
    width: 140px;
    min-width: 140px;
}
}

@media screen and (max-width: 1500px) {
h2, h3 {
    font-size: 11.5pt;
}
}

@media screen and (min-width: 1500px) {
body, td, a, button, input, .control, select, .freetext, textarea {
    font-size: 10pt !important;
}

h2, h3 {
    font-size: 12pt;
}

textarea#statusMessages, textarea#statusMessages:active, textarea#statusMessages:focus {
    font-size: 9pt !important;
}
}

/* end responsive layout */

/* TO DO: merge with main classes */

@supports not (-moz-appearance: none) { /* fixes chrome/blinkoverflow issue */
select {
    white-space: normal !important;
}
}

label {
    vertical-align: sub;
}

input[type="text"] + label {
    white-space: nowrap;
    vertical-align: unset;
}

#targetPort {
    margin-right: 10px !important;
}

#privKeyFile {
    min-width: 200px;
    width: 200px;
    width: calc(100% - 54px);
}

.displayText, .displayText:empty:hover, .displayText:empty:focus {
    font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
    width: calc(100% - 10px);
    width: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    margin: 5px;
    padding: 6px;
    -moz-user-select: all;
    -webkit-user-select: all;
    user-select: all;
    border: 1px solid #252;
    background: #000;
    background: linear-gradient(to bottom, #000 0%, #010 100%);
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #000;
}

.displayText:hover, .displayText:focus {
    overflow: auto;
    text-overflow: clip;
    margin: 0.5px 5px;
    padding: 3px;
    box-shadow: 0 0 1px #494;
    background: #000;
    color: #ff0;
    outline: none;
}

.displayText:empty, .displayText:empty:hover, .displayText:empty:focus {
    background: #000;
    box-shadow: inset 0 0 0 1px #000;
    color: #885;
    opacity: 0.8;
}

.displayText:empty::before {
    content: "";
    display: inline-block;
    min-height: 11px;
}

#registration .displayText {
    width: 500px;
}

#registration .infohelp {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

#registration input[type="file"] {
    margin-top: 5px;
    margin-bottom: 5px;
}

#registration td {
    padding: 8px;
}

#oldName, #altPrivKeyFile {
    width: 45% !important;
}

@media screen and (max-width: 800px) {
.displayText, .displayText:empty:hover, .displayText:empty:focus {
    width: 260px;
    font-size: 8pt;
}

#reachableBy {
    min-width: 0 !important;
}

.port {
    width: 50px !important;
}
}

@media screen and (min-width: 1000px) {
.displayText, .displayText:empty:hover, .displayText:empty:focus {
    width: 386px;
}

#registration .displayText {
    width: 600px;
}
}

@media screen and (min-width: 1500px) {
th {
    font-size: 10pt;
}

.displayText, .displayText:empty:hover, .displayText:empty:focus {
    width: 552px;
}

#registration .displayText {
    width: 800px;
}
}

/* custom radios/checkboxes to enforce color scheme when OS widgets are non-standard  */
/*@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution:.001dpcm) {*/
@supports (background-blend-mode: luminosity) { /* exclude ms browsers */
input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked,
input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    position: relative;
    width: 19px !important;
    height: 19px !important;
    min-width: 19px !important;
    outline: none;
    vertical-align: middle !important;
    box-sizing: border-box;
    border: 1px solid #252 !important;
    background: #010;
    -moz-appearance: none;
    -webkit-appearance: inherit;
    filter: drop-shadow(0 0 2px #000);
    will-change: transform;
}

input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked {
    border-radius: 2px;
    box-shadow: inset 3px 3px 3px 1px #000;
}

input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    border-radius: 50%;
    box-shadow: inset 3px 3px 3px 1px #000;
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before,
input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
    position: absolute;
    transition: linear all 0.05s;
    transform: scale(1);
}

.optbox:not(:checked) {
    box-shadow: inset 3px 3px 3px 1px #000;
}

.optbox:active {
    background: #000 !important;
}

input[type="checkbox"]:checked::before, input[type="checkbox"]:not(:checked)::before {
    content: "";
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(16,48,16,.5), 0 0 0 1px #000;
    background: #5a5;
}

input[type="radio"]:checked::before {
    content: "";
    border-radius: 50%;
    left: 25%;
    top: 25%;
    width: 9px;
    height: 9px;
    background: #5a5;
}

input[type="checkbox"]:checked:hover::before {
    color: #6b6;
}

input[type="radio"]:checked:hover::before {
    background: #6b6;
}

input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
    transform: scale(0);
    color: transparent;
    background: transparent;
}

input[type="checkbox"]:hover, input[type="radio"]:hover, input[type="checkbox"]:focus, input[type="radio"]:focus {
    background: #000;
    width: 19px !important;
    height: 19px !important;
    border: 1px solid #5a5 !important;
    box-shadow: 0 0 2px #f60 !important;
    filter: drop-shadow(0 0 1px #f60) !important;
}

input[type="checkbox"][disabled], input[type="radio"][disabled], input[type="checkbox"][disabled]:hover, input[type="radio"][disabled]:hover,
input[type="checkbox"][disabled]:checked, input[type="radio"][disabled]:checked, input[type="checkbox"][disabled]:checked:hover, input[type="radio"][disabled]:checked:hover {
    border: 1px solid #494 !important;
    box-shadow: none !important;
    opacity: 0.5 !important;
    background: #000;
    filter: none !important;
}
}

/* end custom radios/checkboxes */

#keyringManager {
    float: right;
    margin-right: 4px;
}

tr {
    box-shadow: inset 0 0 0 1px #000, inset 0 -1px 0 1px #000, inset -1px 0 0 1px #000, inset 0 0 2px 1px #020, inset 0 -1px 2px 1px #020, inset -1px 0 2px 1px #020;
}

tr.configerror {
    box-shadow: inset 0 0 0 1px #000, inset 0 -1px 0 1px #000, inset -1px 0 0 1px #000, inset 0 0 2px 1px #900, inset 0 -1px 2px 1px #900, inset -1px 0 2px 1px #900;
}

.configerror td {
    padding: 20px 10px !important;
}

.configerror td::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 20px;
    vertical-align: middle;
    background: url(/themes/console/images/info/errortriangle.png) center center no-repeat;
    background-size: 20px auto;
}

.buttons, .newTunnel, h2, h3 {
    box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030 !important;
}

#ssl th:first-child, #ssl td:first-child {
    padding-left: 10px;
}

#ssl tr:nth-child(n+3) th:last-child, #ssl tr:nth-child(n+3) td:last-child {
    text-align: center;
}

#ssl code {
    color: #cc0;
    white-space: nowrap;
}

.tunnelInfo {
    display: none;
}

#toggleInfo {
    margin: 0 -2px 0 0 !important;
    padding: 2px 5px;
    vertical-align: middle;
}

#toggleInfo img {
    height: 8px;
    width: 12px;
    mix-blend-mode: luminosity;
}

#toggleInfo:hover img, #toggleInfo:focus img {
    mix-blend-mode: normal;
}

@media screen and (min-width: 1500px) {
#toggleInfo {
    margin: -1px -2px 0 0 !important;
}
}

.base32 {
    max-width: 120px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
    -moz-user-select: all;
    -webkit-user-select: all;
    user-select: all;
}

.nowrap {
    margin-right: 20px;
    white-space: nowrap;
}

.nowrap, .nowrap > * {
    vertical-align: middle;
}

.nowrap b {
    margin-left: 5px;
}

::placeholder {
    font-size: 80%;
}

.username::placeholder, .password::placeholder {
    color: #bb7;
    font-size: 100%;
    font-style: italic;
    text-transform: lowercase;
    opacity: .4;
}

.username, .password {
    padding-left: 24px !important;
    width: calc(50% - 12px);
}

select[disabled], select[disabled]:hover, select[disabled]:focus, select[disabled]:active {
    margin: 0;
    padding: 0;
    font-weight: normal !important;
    color: #ee9 !important;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    cursor: default;
}

.editDisabled {
    padding-left: 10px !important;
    background: url(/themes/console/images/buttons/cryptokey.png) 8px center no-repeat;
}

input[readonly] {
    cursor: text !important;
}

th span {
    text-transform: none !important;
    letter-spacing: 0;
    word-spacing: 0;
}

#clientAuth th:nth-child(2), #clientAuth td:nth-child(2) {
    width: auto ;
}

#clientAuth td:last-child {
    width: 1% !important;
    text-align: center;
}

#clientAuth td:last-child b {
    margin: 0;
    padding: 0 8px;
}

#clientAuth th:first-child, #clientAuth td:first-child {
    width: 50% !important;
}

#clientAuth tr:first-child td {
    border-top: none;
}
