/* Susimail "Light" theme */
/* Codename: "Corporat" */
/* Author: dr|z3d */

@import url("/themes/fonts/DroidSans.css");

body {
    margin: 5px;
    color: #33333f;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Bitstream Vera Sans", "Segoe UI", Verdana, "Lucida Grande", Helvetica, sans-serif;
    font-size: 9pt;
    background: #a4a4cb url(/themes/console/light/images/tile2.png);
}

/* preload button mouseovers */
body {
    background: url(/themes/console/light/images/tile2.png),
    url(/themes/susimail/images/compose_hover.png) no-repeat,
    url(/themes/susimail/images/login_hover.png) no-repeat,
    url(/themes/susimail/images/logout_hover.png) no-repeat,
    url(/themes/susimail/images/offline_hover.png) no-repeat,
    url(/themes/susimail/images/save_hover.png) no-repeat,
    url(/themes/susimail/images/send_hover.png) no-repeat,
    url(/themes/console/images/buttons/configure_hover.png),
    url(/themes/console/images/buttons/delete_hover.png),
    url(/themes/console/images/buttons/update_hover.png), #a4a4cb !important;
    background-size: 32px 32px, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0 !important;
}

body.iframed {
    background: transparent !important;
    margin: 5px 0 0 0;
}

body.iframed {
    background:
    url(/themes/susimail/images/compose_hover.png) no-repeat,
    url(/themes/susimail/images/login_hover.png) no-repeat,
    url(/themes/susimail/images/logout_hover.png) no-repeat,
    url(/themes/susimail/images/offline_hover.png) no-repeat,
    url(/themes/susimail/images/save_hover.png) no-repeat,
    url(/themes/susimail/images/send_hover.png) no-repeat,
    url(/themes/console/images/buttons/configure_hover.png),
    url(/themes/console/images/buttons/delete_hover.png),
    url(/themes/console/images/buttons/update_hover.png), transparent !important;
    background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0 !important;
}

* {
    outline: none;
}

.pagenav, .sort, .topbuttons, h3, .footer, .bottombuttons, .topbuttons, th img, h3, #dologin, th, #loading  {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

::selection {
    background: #27377f !important;
    color: white;
    text-shadow: none;
}

::-moz-selection {
    background: #27377f !important;
    color: white;
    text-shadow: none;
}

b, h3, .pagenav td, th {
    color: #41465f;
    text-shadow: 0 1px 1px #fff;
}

li {
    color: #33333f;
    line-height: 12pt;
    font-size: 8.5pt;
    margin-left: 5px;
    margin-right: 5px;
}

p {
    color: #33333f;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 8.5pt;
}

p.hl {
    font-size: 12pt;
    letter-spacing: 2pt;
    line-height: 18pt;
    font-weight: bold;
}

p.text {
    margin-left: 10px;
    margin-right: 10px;
}

p.error, p.info {
    font-size: 10pt;
}

p.error {
    color: #c00;
}

p.info {
    color: #030;
}

tr.mailbody, #message_full tr:first-child {
    box-shadow: inset 0 0 0 1px #fff;
    background: #fafaff;
}

#mailhead tr {
    box-shadow: none !important;
}

tr.mailbody td {
    word-break: normal;
    word-wrap: normal;
    width: 100%;
    padding: 0;
}

.mailbody p.info {
    margin: 10px 0;
    display: block;
    border: 1px solid #447;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #f00;
    padding: 20px 10px;
    width: calc(100% - 40px);
    background: #ffe;
    color: #900;
    font-weight: bold;
    filter: drop-shadow(0 0 1px #999);
}

p.mailbody + p.info {
    margin-top: -47px;
}

span.coloured {
    color: #327bbf;
}

div.header, .iframed .header {
    display: none;
}

div.footer {
    margin: -6px -1px -3px;
    border-top: none;
    border: 1px solid #7e7fb9;
    box-shadow: inset 0 0 0 1px #fff;
    background: #eef;
    background: linear-gradient(to right, rgba(232,232,255,0.3) 15%, rgba(255,255,255,0.8) 50%, rgba(232,232,255,0.3) 85%), repeating-linear-gradient(to bottom, #fff 1px, #ddf 2px, #fff 3px);
}

p.footer {
    margin: 0;
    padding: 3px;
    line-height: 10pt;
    text-align: center;
    font-size: 8pt;
    color: #449 !important;
}

p.footer a {
    font-size: 8pt !important;
}

p.footer, p.footer b {
    color: #449 !important;
    text-shadow: 0 0 1px #fff;
}

.iframed .footer {
    display: none;
}

.footer hr {
    display: none;
}

p.mailbody {
    font: 9pt "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
    text-align: left;
    padding: 0 0 15px;
    margin-top: 0;
    line-height: 130%;
    word-break: break-all; // required to ensure super long strings don't break the layout
}

a {
    color: #327bbf;
    text-decoration:none;
    font-weight: bold;
    outline: none;
}

.linkspam {
    color: #927b40;
}

.linknew {
    color: #327b40;
}

.linkold {
    color: #327bbf;
}

a:hover, a:focus, tr:hover td[onclick] a {
    text-decoration: none;
    color: #f60 !important;
}

a:visited {
    color: #6b97bf;
}

a:active, tr:hover td[onclick]:active a {
    color: #f30 !important;
}

.noborder {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}

pre {
    font: 9pt "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
    margin-left: 10px;
    margin-right: 10px;
}

.page {
    margin: 0;
    padding: 10px 10px 0;
    min-width: 600px;
    line-height: 160% !important;
    text-align: center;
    font-size: 8.5pt !important;
    color: #33333f;
    box-shadow: inset 0 0 0 1px #ccccf0;
    border: 1px solid #447;
    border-radius: 2px 2px 0 0;
    background-color: #fcfcff;
}

.iframed .page {
    margin: 0;
    padding: 1px;
    min-width: 600px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
}

table {
    width: 100%;
}

th {
    font-size: 9pt;
    font-weight: bold;
    vertical-align: middle;
}

.spacer {
    display: none;
}

form {
    line-height: 160%;
    border-top: none;
}

.header + form {
    border: 1px solid #7e7fb9;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 0 1px 1px rgba(220,220,255,0.3);
    background: #f4f4ff;
    background: linear-gradient(to bottom, #f8f8ff, #f2f2ff);
}

/*
.iframed .header + form {
    margin-bottom: 0;
}*/

.iframed form {
    margin-bottom: 8px !important;
}

/* message view */

#message_full {
    margin: 0;
    padding: 0 !important;
    border-collapse: separate;
    border-spacing: 0;
}

.iframed #message_full {
    border-bottom: none;
}

#message_full tr:first-child {
    background: #efefff;
    background: rgba(220,220,255,0.2);
}

#message_full tr:first-child td {
    border-bottom: 1px solid #7e7fb9;
    background: none !important;
}

#mailhead {
    padding: 0;
    margin: 0;
}

#mailhead td {
    border: none !important;
    padding: 3px;
}

#mailhead hr, .mailbody hr {
    display: none;
}

#mailhead tr:first-child {
    background: none;
}

#mailhead td:first-child {
    width: 1%;
    min-width: 60px;
    white-space: nowrap;
    font-weight: bold;
    color: #41465f;
}

/* end message view */

/* buttons and inputs */

button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner  {
    outline: none;
    border: none;
}

input, label {
    cursor: pointer;
}

label:hover {
    color: #000;
}

input[type="radio"], input[type="checkbox"] {
    vertical-align: middle;
    background: none;
    outline: none;
    min-width: 16px;
    min-height: 16px;
    filter: sepia(100%) hue-rotate(185deg) drop-shadow(0 0 1px rgba(220,220,255,.7));
}

input[type="checkbox"]:hover, input[type="checkbox"]:focus, input[type="radio"]:hover, input[type="radio"]:focus {
    filter: sepia(100%) hue-rotate(185deg) drop-shadow(0 0 3px #89f);
}

#attachedfile input[type="checkbox"]:hover, #attachedfile input[type="checkbox"]:focus,
.mailListDelete input[type="checkbox"]:hover, .mailListDelete input[type="checkbox"]:focus{
    filter: sepia(100%) hue-rotate(185deg) drop-shadow(0 0 2px #933);
}

input[type="text"], input[type="password"] {
    cursor: text;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Bitstream Vera Sans", "Segoe UI", Verdana, "Lucida Grande", Helvetica, sans-serif;
    font-size: 9pt;
}

input[type="submit"], input[type="reset"], #settings {
    border: 1px solid #9ea8d1;
    box-shadow: inset 0 0 0 1px #fff;
    background: #eee;
    background: linear-gradient(to bottom, #fff, #efefff);
    color: #33333f;
    margin: 3px;
    font: 9pt "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Bitstream Vera Sans", "Segoe UI", Verdana, "Lucida Grande", Helvetica, sans-serif;
    padding: 4px 5px;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
    border-radius: 2px;
    opacity: 1;
    background-size: 14px auto, 100% 100% !important;
    filter: drop-shadow(0 0 1px rgba(220,220,255,.7));;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="reset"]:focus,
#settings:hover, #settings:focus {
    filter: drop-shadow(0 0 1px rgba(204, 204, 204, 0.8));
    border: 1px solid #f60;
    color: #222 !important;
    transition: ease border 0.7s;
}

input[type="submit"]:active, input[type="reset"]:active,
#settings:active {
    box-shadow: inset 0 0 0 1px #fff, inset 2px 2px 2px #999;
    color: #555;
    background-blend-mode: luminosity;
    border: 1px solid #f30;
}

input[disabled], input[disabled]:hover, input[disabled]:focus {
    opacity: 0.4;
    cursor: default;
    border: 1px solid #9ea8d1;
}

input.cancel, #nukemail input.clearselection {
    background: #eee url(/themes/console/images/buttons/no.png) no-repeat 6px center;
    background: url(/themes/console/images/buttons/no.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.cancel:hover, #nukemail input.clearselection:hover {
    background: #fff url(/themes/console/images/buttons/no.png) no-repeat 6px center;
    background: url(/themes/console/images/buttons/no.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.clearselection {
    background: #eee url(/themes/susimail/images/none.png) no-repeat 6px center;
    background: url(/themes/susimail/images/none.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.clearselection:hover {
    background: #fff url(/themes/susimail/images/none.png) no-repeat 6px center;
    background: url(/themes/susimail/images/none.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.delete, input.delete_attachment, input.really_delete {
    background: #eee url(/themes/console/images/buttons/delete.png) no-repeat 6px center;
    background: url(/themes/console/images/buttons/delete.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.delete:hover, input.delete_attachment:hover, input.really_delete:hover {
    background: #fff url(/themes/console/images/buttons/delete_hover.png) no-repeat 6px center;
    background: url(/themes/console/images/buttons/delete_hover.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.download {
    background: #eee url(/themes/console/images/buttons/download.png) no-repeat 6px center;
    background: url(/themes/console/images/buttons/download.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.download:hover {
    background: #fff url(/themes/console/images/buttons/download.png) no-repeat 6px center;
    background: url(/themes/console/images/buttons/download.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.offline {
    background: #eee url(/themes/susimail/images/offline.png) no-repeat 6px center;
    background: url(/themes/susimail/images/offline.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.offline:hover {
    background: #fff url(/themes/susimail/images/offline_hover.png) no-repeat 6px center;
    background: url(/themes/susimail/images/offline_hover.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.list, input.moveto, #pagenav input.switchto {
    background: #eee url(/themes/susimail/images/folder.png) no-repeat 6px center;
    background: url(/themes/susimail/images/folder.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.list:hover, input.moveto:hover, #pagenav input.switchto:hover {
    background: #eee url(/themes/susimail/images/folder-open.png) no-repeat 6px center;
    background: url(/themes/susimail/images/folder-open.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.forward {
    background: #eee url(/themes/susimail/images/forward.png) no-repeat 6px center;
    background: url(/themes/susimail/images/forward.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.forward:hover {
    background: #fff url(/themes/susimail/images/forward.png) no-repeat 6px center;
    background: url(/themes/susimail/images/forward.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.login {
    background: #eee url(/themes/susimail/images/login.png) no-repeat 6px center;
    background: url(/themes/susimail/images/login.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.login:hover {
    background: #fff url(/themes/susimail/images/login_hover.png) no-repeat 6px center;
    background: url(/themes/susimail/images/login_hover.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.logout {
    background: #eee url(/themes/susimail/images/logout.png) no-repeat 6px center;
    background: url(/themes/susimail/images/logout.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.logout:hover {
    background: #fff url(/themes/susimail/images/logout_hover.png) no-repeat 6px center;
    background: url(/themes/susimail/images/logout_hover.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.reload, input.refresh, input[name="refresh"][disabled] {
    background: #eee url(/themes/console/images/buttons/update.png) no-repeat 6px center !important;
    background: url(/themes/console/images/buttons/update.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff) !important;
    padding: 5px 7px 5px 24px;
}

input[name="refresh"][disabled] {
    margin-top: 2px;
}

input.reload:hover, input.refresh:hover {
    background: #eee url(/themes/console/images/buttons/update_hover.png) no-repeat 6px center !important;
    background: url(/themes/console/images/buttons/update_hover.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff) !important;
}

input.invertselection {
    background: #eee url(/themes/susimail/images/selection.png) no-repeat 6px center;
    background: url(/themes/susimail/images/selection.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.invertselection:hover {
    background: #eee url(/themes/susimail/images/selection.png) no-repeat 6px center;
    background: url(/themes/susimail/images/selection.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.show {
    background: #eee url(/themes/console/images/buttons/yes.png) no-repeat 6px center;
    background: url(/themes/console/images/buttons/yes.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.show:hover {
    background: #fff url(/themes/console/images/buttons/yes.png) no-repeat 6px center;
    background: url(/themes/console/images/buttons/yes.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
    padding: 5px 7px 5px 24px;
}

input.markall {
    background: #eee url(/themes/susimail/images/all.png) no-repeat 6px center;
    background: url(/themes/susimail/images/all.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.markall:hover {
    background: #fff url(/themes/susimail/images/all.png) no-repeat 6px center;
    background: url(/themes/susimail/images/all.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.new {
    background: #eee url(/themes/susimail/images/compose.png) no-repeat 6px center;
    background: url(/themes/susimail/images/compose.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.new:hover {
    background: #fff url(/themes/susimail/images/compose_hover.png) no-repeat 6px center;
    background: url(/themes/susimail/images/compose_hover.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.reply {
    background: #eee url(/themes/susimail/images/reply.png) no-repeat 6px center;
    background: url(/themes/susimail/images/reply.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.reply:hover {
    background: #fff url(/themes/susimail/images/reply.png) no-repeat 6px center;
    background: url(/themes/susimail/images/reply.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.replyall {
    background: #eee url(/themes/susimail/images/reply-all.png) no-repeat 6px center;
    background: url(/themes/susimail/images/reply-all.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.replyall:hover {
    background: #fff url(/themes/susimail/images/reply-all.png) no-repeat 6px center;
    background: url(/themes/susimail/images/reply-all.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.markall {
    margin-right: 0 !important;
}

input.setpagesize, input.save {
    background: #eee url(/themes/console/images/buttons/yes.png) no-repeat 6px center;
    background: url(/themes/console/images/buttons/yes.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.setpagesize {
    padding-right: 9px !important;
}

input.send {
    background: #eee url(/themes/susimail/images/send.png) no-repeat 8px center;
    background: url(/themes/susimail/images/send.png) no-repeat 8px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 10px 5px 28px;
}

input.send:hover {
    background: #fff url(/themes/susimail/images/send_hover.png) no-repeat 8px center;
    background: url(/themes/susimail/images/send_hover.png) no-repeat 8px center, linear-gradient(to bottom, #eee, #fff);
}

input.send + input.cancel {
    padding-right: 10px;
}

input.configure, #settings {
    background: #eee url(/themes/console/images/buttons/configure.png) no-repeat 6px center;
    background: url(/themes/console/images/buttons/configure.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.configure:hover, #settings:hover {
    background: #fff url(/themes/console/images/buttons/configure_hover.png) no-repeat 6px center;
    background: url(/themes/console/images/buttons/configure_hover.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.saveas, input.saveasdraft {
    background: #eee url(/themes/susimail/images/save.png) no-repeat 6px center;
    background: url(/themes/susimail/images/save.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.saveas:hover, input.saveasdraft:hover {
    background: #fff url(/themes/susimail/images/save_hover.png) no-repeat 6px center;
    background: url(/themes/susimail/images/save_hover.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.new_upload {
    background: #eee url(/themes/susimail/images/attach.png) no-repeat 6px center;
    background: url(/themes/susimail/images/attach.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.new_upload:hover {
    background: #fff url(/themes/susimail/images/attach.png) no-repeat 6px center;
    background: url(/themes/susimail/images/attach.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

input.new_upload {
    float: right;
    margin-right: 0;
}

/* end buttons and inputs */

.bottombuttoms td[colspan="4"] {
    padding-right: 1px;
}

/* pagenav */

.pagenav tr {
    display: table-row !important;
    border: none;
}

.pagenav td {
    border: none !important;
}

#messagenav {
    float: right;
    margin-right: -1px;
    margin-left: -7px;
}

input.firstpage, input[name="firstpage"],
input.firstpage[disabled]:hover, input[name="firstpage"][disabled]:hover {
    background: #eee url(/themes/susimail/images/first.png) no-repeat center center;
    background: url(/themes/susimail/images/first.png) no-repeat center center, linear-gradient(to bottom, #fff, #efefff);
    padding: 4px 10px;
    text-indent: -99999px;
}

input.firstpage:hover, input[name="firstpage"]:hover {
    background: #fff url(/themes/susimail/images/first.png) no-repeat center center;
    background: url(/themes/susimail/images/first.png) no-repeat center center, linear-gradient(to bottom, #eee, #fff);
}

input.lastpage, input[name="lastpage"],
input.lastpage[disabled]:hover, input[name="lastpage"][disabled]:hover {
    background: #eee url(/themes/susimail/images/last.png) no-repeat center center;
    background: url(/themes/susimail/images/last.png) no-repeat center center, linear-gradient(to bottom, #fff, #efefff);
    padding: 4px 10px;
    text-indent: -99999px;
}

input.lastpage:hover, input[name="lastpage"]:hover {
    background: #fff url(/themes/susimail/images/last.png) no-repeat center center;
    background: url(/themes/susimail/images/last.png) no-repeat center center, linear-gradient(to bottom, #eee, #fff);
}

input.prevpage, input.prev, input[name="prev"], input[name="prevpage"],
input.prevpage[disabled]:hover, input.prev[disabled]:hover, input[name="prev"][disabled]:hover, input[name="prevpage"][disabled]:hover {
    background: #eee url(/themes/susimail/images/previous.png) no-repeat center center;
    background: url(/themes/susimail/images/previous.png) no-repeat center center, linear-gradient(to bottom, #fff, #efefff);
    padding: 4px 10px;
    text-indent: -99999px;
}

input[name="prev"]:hover, input[name="prevpage"]:hover {
    background: #fff url(/themes/susimail/images/previous.png) no-repeat center center;
    background: url(/themes/susimail/images/previous.png) no-repeat center center, linear-gradient(to bottom, #eee, #fff);
}

input.nextpage, input.next, input[name="nextpage"], input[name="next"],
input.nextpage[disabled]:hover, input.next[disabled]:hover, input[name="nextpage"][disabled]:hover, input[name="next"][disabled]:hover {
    background: #eee url(/themes/susimail/images/next.png) no-repeat center center;
    background: url(/themes/susimail/images/next.png) no-repeat center center, linear-gradient(to bottom, #fff, #efefff);
    padding: 4px 10px;
    text-indent: -99999px;
}

input.nextpage:hover, input.next:hover, input[name="nextpage"]:hover {
    background: #fff url(/themes/susimail/images/next.png) no-repeat center center;
    background: url(/themes/susimail/images/next.png) no-repeat center center, linear-gradient(to bottom, #eee, #fff);
}

@supports (position: sticky) {
#pagenavbottom {
    display: none;
}
}

#pagenavbottom, #mailbox #pagenavbottom td {
    border-top: 1px solid #7e7fb9;
    box-shadow: none !important;
    position: relative;
    z-index: 100;
}

#pagenavbottom td {
    text-align: center !important;
    padding: 2px;
    background: linear-gradient(to bottom, #fafaff 50%, rgba(220,220,255,0.3)), repeating-linear-gradient(135deg, rgba(255,255,255,0.5) 2px, rgba(221, 221, 255, 0.3) 3px, #fff 5px), #fff !important;
}

#pagenavbottom table {
    float: none;
}

.pagenavcontrols {
    line-height: 100%;
}

.pagenavcontrols td, .bottombuttons td {
    box-shadow: none !important;
}

.pagenavcontrols input {
    min-width: 26px;
    min-height: 26px;
}

.pagecount {
    padding: 4px 0;
    margin: 0 !important;
    width: 70px;
    display: inline-block;
    text-align: center !important;
    color: #54586f;
    border: 1px solid #bbc;
    border-radius: 2px;
    background: #ddf;
    background: linear-gradient(to bottom, #fff, #eef);
}

.pagenav input[disabled] {
    display: inline-block !important;
}

tr.bottombuttons .pagenav {
    width: 100%;
    margin: 0;
}

.pagenav input {
    float: none;
    margin: 2px 1px !important;
}

.pagenav input[name="prevpage"] {
    margin-right: 5px !important;
}

.pagenav input[name="nextpage"] {
    margin-left: 5px !important;
}

.pagenav input[disabled]:hover, .pagenav input[disabled]:active {
    box-shadow: inset 0 0 0 1px #fff !important;
}

.topbuttons div.pagenav {
    margin-top: 10px;
    display: inline-block;
}

.pagenavcontainer, #messagenav {
    float: right;
    position: absolute;
    top: 5px;
    right: 23px;
}

@media screen and (max-width: 1300px) {
.pagenavcontainer {
    right: 0 !important;
}
}

#messagenav {
    right: 6px !important;
}

#messagenav > * {
    vertical-align: middle;
}

.pagenav {
    margin: -2px auto -3px !important;
    padding: 2px;
    max-width: 170px;
    width: auto !important;
    display: inline-block;
    white-space: nowrap;
    border-collapse: separate;
    border-spacing: 0;
}

.pagenav td {
    white-space: nowrap;
    font-size: 10pt;
    font-weight: bold;
    padding: 1px 2px;
    text-align: center;
    font-style: italic;
}

.pagenav td:first-child {
    text-align: right;
    width: 49%;
}

.pagenav td:last-child {
    text-align: left;
    width: 49%;
}

.pagenav td:nth-child(2) {
    width: 2%;
    white-space: nowrap;
}

.topbuttons .pagenavcontrols {
    padding-top: 5px !important;
}

.pagenavcontrols > * {
    vertical-align: middle;
}

/* end pagenav */

/* list sort */

.sort {
    display: inline-block;
    font-size: 0;
}

a.sort {
    vertical-align: middle;
    display: inline-block;
    opacity: 0.9;
}

img.sort {
    border: 1px solid #9ea8d1;
    border-radius: 2px;
    background: linear-gradient(to bottom, #fff, #efefff);
    margin: 0;
    vertical-align: middle;
    filter: drop-shadow(0 0 1px rgba(204, 204, 204, 0.6));
    width: 14px;
    height: 14px;
}

a .sort:hover, a:focus .sort {
    opacity: 1 !important;
    border: 1px solid #f60;
    background: linear-gradient(to bottom, #eee, #fff);
}

img.sort:active {
    box-shadow: inset 0 0 0 1px #fff, inset 2px 2px 2px #999;
}

.sort.selected, .sort.selected:active {
    box-shadow: inset 1px 1px 1px #bbb;
    opacity: 0.8;
    mix-blend-mode: luminosity !important;
}

/* end list sort */

input[type="file"] {
    background: none;
    font-size: 9pt;
    padding: 5px 0;
    max-width: 400px;
}

input[type="text"], input[type="password"], textarea {
    padding: 5px !important;
    background: #fbfbff;
    box-shadow: inset 1px 1px 1px rgba(204, 204, 204, 0.6);
    border: 1px solid #9ea8d1;
    border-radius: 2px;
    color: #33333f;
    filter: drop-shadow(0 0 1px rgba(220,220,255,.7));
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    color: #19191f;
    box-shadow: 0 0 1px #89f;
    background: #fff;
    border: 1px solid #676c7f;
}

input[type="text"][disabled] {
    opacity: 1;
    background: #e9e9e9;
    background: repeating-linear-gradient(135deg, rgba(255,255,255,.5) 2px, rgba(220, 220, 255, .3) 3px, #fafaff 4px), #fafaff;
    color: #4d4d5f;
    filter: none;
}

textarea {
    font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
    font-size: 9pt;
}

hr {
    color: #9ea8d1;
    background: #9ea8d1;
    height: 1px;
    border: none;
    width: 100%;
    margin: 5px;
    text-align: center;
    opacity: 0.5;
}

/* login */

#dologin {
    margin: 100px auto 100px;
    padding: 10px 10px 6px;
    width: 600px;
    border: 1px solid #77789f;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff, inset 0 0 2px 1px #eef, 0 0 1px rgba(100, 100, 200, .5);
    background: #fafaff;
    background: linear-gradient(to bottom, #fafaff, rgba(232,232,255,0.5)), linear-gradient(to bottom, rgba(255,255,255,0.7) 5%, rgba(220,220,255,0.9)), linear-gradient(to right, #fff, #efefff, #fff);
    background-size: 100% 100%, auto 2px, 100%, 100%;
}

.iframed #dologin {
    width: 70%;
    max-width: 600px;
    min-width: 500px;
}

.iframed #dologin table {
    margin-top: 30px;
}

#dologin td {
    padding: 3px;
    font-weight: bold;
    color: #41465f;
}

#dologin td:first-child {
    white-space: nowrap;
}

#dologin td:last-child {
    width: 80%;
}

#dologin h1 {
    background: #fafaff;
    background: linear-gradient(to bottom, #fff 50%, #f2f2ff 50%);
    border-bottom: 1px solid #77789f;
    color: #4c526f;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    font-size: 14pt;
    text-align: left;
    padding: 12px 10px 12px 15px;
    margin: -9px -9px 24px;
}

.iframed #dologin h1 {
    display: none;
}

#dologin input[type="text"], input[name="pagesize"] {
    text-align: left !important;
}

#dologin input[name="user"], #dologin input[name="pass"] {
    padding: 5px 5px 5px 26px !important;
    background-blend-mode: luminosity;
}

#dologin input[name="user"] {
    background: #fbfbff url(/themes/console/images/buttons/user.png) 5px 6px no-repeat !important;
}

#dologin input[name="pass"] {
    background: #fbfbff url(/themes/console/images/buttons/password.png) 5px 5px no-repeat !important;
}

#dologin input[name="user"]:focus, #dologin input[name="pass"]:focus {
    background-color: #fff !important;
    background-blend-mode: normal;
}

#dologin input[name="user"], #dologin input[name="pass"], #dologin input[name="host"] {
    width: 240px;
    margin-right: 5px;
}

#dologin hr {
    margin: 16px 0 4px;
    background: #77789f;
    background: linear-gradient(to right, rgba(119, 120, 159, 0), #1d1f4f, rgba(119, 120, 159, 0));
}

#dologin tr:last-child hr {
    margin-top: 3px;
    margin-bottom: 10px;
}

.iframed #dologin tr:nth-child(6) hr {
    margin-top: 5px;
}

#dologin tr:last-child a, #dologin tr:last-child a:visited {
    display: inline-block;
    margin: 8px -2px 6px;
    padding: 3px 10px;
    color: #327bbf;
    border: 1px solid rgba(255,255,255,0);
    border: 1px solid rgba(119, 120, 159, 0.3);
    border-radius: 25px;
    box-shadow: 0 0 1px rgba(255,255,255,0);
    background: #efefff;
    background: linear-gradient(to right, rgba(252,252,255,0.3), #f6f6ff, rgba(252,252,255,0.3));
    transition: ease all 0.1s;
}

#dologin tr:last-child a:hover {
    border: 1px solid #77789f;
    border: 1px solid rgba(119, 120, 159, 0.5);
    background: #f2f2ff;
    box-shadow: 0 0 1px #ccf;
    background: linear-gradient(to bottom, #fafaff 50%, #e8e8ff 50%) #f2f2ff;
    transition: ease all 0.1s;
}

#dologin tr:last-child a:active {
    border: 1px solid rgba(119, 120, 159, 0.3);
    box-shadow: inset 3px 3px 3px #779;
    color: rgba(65, 70, 95, 0.8) !important;
    color: #99a5df !important;
    background: #e2e2ff;
    background: linear-gradient(to bottom, #eaeaff 50%, #d9d9ff 50%);
    transition: ease all 0.1s;
}

#dologin tr:last-child td {
    color: transparent;
    color: rgba(119, 120, 159, 0);
}

/* end login */

div.pagenav {
    border-top: 1px solid #555;
    padding: 10px 5px 0;
    font-size: 9.5pt;
    border-radius: 0 0 2px 2px;
}

/* configuration */

textarea[name="config_text"] {
    margin-bottom: 15px;
    resize: none;
    height: 310px;
}

h3#config {
    margin: 0 0 20px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11pt;
    letter-spacing: 0.08em;
    word-spacing: 0.1em;
    border-bottom: 1px solid #7e7fb9;
    box-shadow: inset 0 0 0 1px #fff;
    text-shadow: 0 1px 1px #fff;
    background: #fafaff;
    background: linear-gradient(to right, rgba(240,240,255,0.1), rgba(252,252,252,0.5), rgba(240,240,255,0.1)), linear-gradient(to bottom, #fafaff 50%, #f2f2ff 50%);
}

#prefsave {
    margin-top: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #7e7fb9;
    background: #f6f6ff;
    box-shadow: inset 0 0 0 1px #fff;
}

.iframed #prefsave {
    padding-bottom: 9px;
}

/* end configuration */

/* top buttons */

#info {
    margin-left: -180px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 8px;
    display: inline-block;
    line-height: 150%;
    text-transform: lowercase;
    color: #41465f;
    font-weight: normal;
    border: 1px solid #bbd;
    border-radius: 2px;
    box-shadow: 0 0 1px 0 rgba(220,220,255,0.3);
    background: #f6f6ff;
    background: linear-gradient(to bottom, #fff, #efefff);
}

#infoUser {
    margin-right: 6px;
    padding: 2px 9px 3px 6px;
    display: inline-block;
    text-align: center;
    color: #54586f;
    font-weight: bold;
    border-right: 1px solid #bbd;
    background: #99b;
    background: linear-gradient(to bottom, #fff, #efefff);
}

.topbuttons {
    margin: -1px -1px 0;
    padding: 5px 5px 4px;
    position: sticky;
    top: -1px;
    z-index: 1000;
    width: calc(100% - 10px);
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    font-size: 9pt;
    font-weight: bold;
    border: 1px solid #7e7fb9;
    box-shadow: inset 0 0 1px 1px rgba(230,230,255,0.7) !important;
    box-shadow: inset 0 0 0 1px #fff !important;
    background: #f2f2ff;
    background: linear-gradient(to bottom, #fcfcff 51%, #fafaff 51%, #f6f6ff 100%) !important;
}

.topbuttons > * {
    vertical-align: middle !important;
}

/* float topbuttons, single line  */

.topbuttons input.new, .topbuttons input.refresh, .topbuttons input.logout, .topbuttons input[name="refresh"] {
    float: left;
}

.topbuttons .pagenav input {
    float: none;
}

.topbuttons input[name="pagesize"], .topbuttons .setpagesize, .topbuttons input:not(.delete)[onclick] {
    float: none !important;
}

.topbuttons input.new, .topbuttons input.refresh, .topbuttons input.logout, .topbuttons input.reply, .topbuttons input.replyall,
.topbuttons input.forward, .topbuttons input.saveas, .topbuttons input.delete {
    float: left;
    margin-left: 2px;
    margin-top: 2px !important;
}

.topbuttons input.prev, .topbuttons input[name="prev"], .topbuttons input.prevpage, .topbuttons input[name="prevpage"],
.topbuttons input.next, .topbuttons input[name="next"], .topbuttons input.nextpage, input[name="nextpage"],
.topbuttons input.firstpage, .topbuttons input[name="firstpage"], .topbuttons input.lastpage, .topbuttons input[name="lastpage"],
.topbuttons input.list {
    min-height: 26px !important;
    min-width: 26px !important;
    max-height: 26px !important;
    max-width: 26px !important;
    margin: 2px;
}

.topbuttons br {
    display: none;
}

.topbuttons br ~ input {
    margin: 3px 2px;
}

.topbuttons input.prev, .topbuttons input[name="prev"] {
    margin-left: 10px;
}

.topbuttons input.list {
    background-position: center center;
    text-indent: -99999px;
    padding: 5px 10px;
}

.topbuttons input[type="text"] {
    margin: 5px;
}

.bottombuttons br {
    display: none;
}

tr.bottombuttons, .topbuttons {
    box-shadow: inset 0 0 0 1px #fff;
}

_:-ms-lang(x), tr.bottombuttons, .topbuttons {
    box-shadow: none !important;
}

tr.bottombuttons:last-child {
    background: linear-gradient(to bottom, #fafaff 50%, rgba(220,220,255,0.3)), repeating-linear-gradient(135deg, rgba(255,255,255,0.5) 2px, rgba(221, 221, 255, 0.3) 3px, #fff 5px), #fff !important;
}

tr.bottombuttons:empty {
    display: none;
}

#composemail .bottombuttons {
    background: none !important;
    box-shadow: none !important;
}

/* notifications */

.notifications {
    margin: 0 -20px;
    padding: 5px 10px 2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    text-align: center;
    text-shadow: 0 1px 1px #000;
    opacity: 0.9;
    border-top: 1px solid #fff;
    border-bottom: 2px solid #001;
    box-shadow: 0 1px 1px rgba(120,120,200,0.3);
    box-shadow: 0 2px 2px rgba(100,100,200,0.5);
    background: url(/themes/snark/light/images/delete.png) right 24px top 4px no-repeat #113;
    background-size: 14px 14px !important;
    background-blend-mode: luminosity;
    cursor: crosshair;
    animation: 2s hide-up 10s ease-out forwards;
}

.iframed .notifications {
    margin: 6px 3% 0;
    padding: 10px 10px 5px;
    background: url(/themes/snark/light/images/delete.png) right 6px top 5px no-repeat #113;
    background-size: 14px 14px !important;
    border-radius: 0 0  4px 4px;
    border: none;
    box-shadow: 0 1px 2px rgba(100,100,200,0.5);
}

@keyframes hide-up {
from {
    margin-top: 0
}

to {
    margin-top: -300px;
}
}

.notifications:hover {
    background-image: url(/themes/snark/light/images/delete_hover.png);
    background-blend-mode: normal;
}

.notifications p.info, .notifications p.info b {
    font-size: 10pt !important;
    color: #fff;
    text-shadow: none !important;
}

.notifications p {
    filter: drop-shadow(0 0 2px #000);
    letter-spacing: 0.07em;
    word-spacing: 0.2em;
    font-weight: bold;
    animation: fade-in 1s linear;
}

@keyframes fade-in {
from {
    filter: opacity(0)
}

to {
    filter: opacity(1)
}
}

p.error {
    font-size: 10pt !important;
}

td p.error {
    padding: 10px;
}

/* end notifications */

/* compose mail */

#composemail {
    text-align: center !important;
    padding: 4px 8px 12px;
    border-radius: 0 0 2px 2px;
    background: #efefff;
    background: linear-gradient(to right, #efefff, #fff, #efefff);
}

.iframed #composemail {
    border-bottom: none;
}

#composemail hr {
    display: none;
}

#composemail textarea {
    margin-bottom: 7px;
    min-height: 200px;
}

#composemail textarea, #composemail input[type="text"] {
    width: calc(100% - 20px);
    min-width: 565px;
}

#newmail {
    width: auto;
    margin: auto;
}

#newmail td {
    padding: 5px;
}

#newmail td:first-child {
    font-weight: bold;
    color: #41465f;
    padding-right: 3px;
}

#newmail label:hover {
    color: #33333f;
}

/* end compose mail */


/* attachments */
#addattachment td {
    border-top: 1px solid #bbd;
    padding-top: 7px;
}

#attachedfile {
    padding: 4px 5px !important;
}

#newmail input[type="checkbox"] {
    margin: 0;
}

#attachedfile input[type="checkbox"] {
    margin: 1px;
    float: right;
}

#attachedfile label {
    padding: 5px 10px 5px 24px;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 34px);
    min-width: 400px;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    border-radius: 2px 15px 15px 2px;
    box-shadow: inset 0 0 0 1px #bbd, inset 0 0 0 2px #fff, 0 0 0 1px #eee;
    background: #eef url(/susimail/icons/attach.png) 7px center no-repeat;
    background: url(/susimail/icons/attach.png) 7px center no-repeat, linear-gradient(to right, #f2f2ff 70%, #eef);
}

#attachedfile label:hover {
    color: #933;
    box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 2px #955;
    background: #ffd url(/susimail/icons/attach.png) 7px center no-repeat;
    background: url(/susimail/icons/attach.png) 7px center no-repeat, linear-gradient(to right, #ffe 70%, #ffd);
}

#attachedfile label:active {
    box-shadow: inset 3px 3px 2px 1px #774, inset 0 0 0 1px #f00;
    box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 2px #b33, inset 4px 4px 3px #775;
}

.attached {
    margin: 0;
    padding: 15px 35px 15px 35px;
    overflow: auto !important;
    text-align: left;
/*    border-top: 1px solid #7e7fb9;*/
    box-shadow: inset 0 0 0 1px #fff;
    background: url(/themes/susimail/images/attach.png) 10px center no-repeat, rgba(220,220,255,0.2);
}

.attached img {
    margin-top: 4px;
    padding: 3px;
    max-width: 100%;
    max-width: calc(100% - 10px);
    border: 1px solid #555;
    border-radius: 2px;
    background: #fff;
    text-align: center;
    filter: drop-shadow(0 0 1px #999);
    image-orientation: from-image;
}

#deleteattached::before, #addattachment td:last-child::after {
    content: "";
    display: block;
    height: 1px;
    background: #bbd;
    margin: 1px 0 2px;
}

#addattachment td:last-child::after {
    margin: 5px 0 1px;
}

#deleteattached {
    text-align: right;
}

#deleteattached input {
    margin: 8px 0 0 0;
}

#imageInfo {
    display: block;
    width: 100%;
    margin-top: 16px;
    padding-top: 10px;
    font-weight: bold;
    border-top: 1px solid #99c;
    text-align: right;
}

#imageInfo::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 16px;
    vertical-align: text-bottom;
    background: url(/themes/console/images/info/box.png) left center no-repeat;
    background-size: 16px 16px;
}

/* end attachments */

/* custom radios/checkboxes to enforce color scheme when OS widgets are non-standard  */
/* @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution:.001dpcm) {*/
@supports (background-blend-mode: luminosity) { /* exclude ms browsers */
input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked {
    width: 19px !important;
    height: 19px !important;
    border-radius: 2px;
}

input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    width: 19px !important;
    height: 19px !important;
    border-radius: 50%;
}

input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    line-height: 80%;
    border-radius: 1px;
    background: #41465f;
    transform: scale(1);
    transition: linear all .05s;
}

input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 25%;
    top: 25%;
    width: 9px;
    height: 9px;
    background: #41465f;
    transform: scale(1);
    transition: linear all .05s;
}

input[type="radio"]:not(:checked), input[type="checkbox"]:not(:checked) {
    box-shadow: inset 0 0 0 2px #f8f8ff, inset 3px 3px 3px #aad;
}

.optbox {
    margin: 2px 0;
    position: relative;
    vertical-align: middle !important;
    border: 1px solid #7a7d8f !important;
    background: #f8f8ff !important;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    filter: drop-shadow(0 0 1px #ccf) !important;
}

.optbox:checked {
    box-shadow: inset 0 0 0 1px #cce;
    background: linear-gradient(to bottom, #fff, #f0f0ff) !important;
}

#netconfig .optbox {
    vertical-align: middle !important;
}

.optbox:hover, .optbox:focus, .optbox:active,
.optbox:checked:hover, .optbox:checked:focus, .optbox:checked:active {
    width: 19px !important;
    height: 19px !important;
    min-width: 19px !important;
    min-height: 19px !important;
    border: 1px solid #41465f !important;
    box-shadow: 0 0 2px #f60 !important;
    filter: drop-shadow(0 0 3px #89f) !important;
}

.optbox:checked::before {
    transition: linear all .05s;
}

.optbox:not(:checked)::before {
    position: absolute;
    top: 25%;
    left: 25%;
    content: "";
    transition: linear all .05s;
    color: transparent;
    background: transparent;
    transform: scale(0);
    will-change: transform;
}

input[type="radio"]:not(:checked)::before {
    border-radius: 50%;
}
}
/* end custom radios/checkboxes */

/* Edge/IE tweaks */

_:-ms-lang(x), * {
    filter: none !important;
    text-shadow: none !important;
}

/* end Edge/IE tweaks */

/* mail list */

tr.pagenavcontrols:hover .pagenavcontrols td, .topbuttons td, .topbuttons:hover td, .topbuttons tr:hover td, .topbuttons:hover td  {
    box-shadow: none !important;
}

td {
    color: #33333f;
    font-size:9pt;
    padding: 1px 3px;
}

td[onclick] {
    cursor: pointer;
}

tr.list0 {
    background: #eef;
    background: repeating-linear-gradient(45deg, rgba(255,255,255,0.5) 2px, rgba(221, 221, 255, 0.3) 3px, #fff 5px), #fff;
}

tr.list1 {
    background: #f7f8ff;
    background: repeating-linear-gradient(135deg, rgba(255,255,255,0.5) 2px, rgba(240, 240, 255, 0.3) 3px, #fff 5px), #fff;
}

tr.list0:hover, tr.list1:hover {
    background-color: #ffd;
    box-shadow: inset 0 0 0 1px #fff;
}

tr.list0:hover td, tr.list1:hover td {
    background-color: rgba(240,240,200,0.4) !important;
}

_:-ms-lang(x), tr.list0:hover, tr.list1:hover {
    box-shadow: none !important;
}

.list0 td, .list1 td {
    box-shadow: inset 0 0 0 1px #fff;
    background: rgba(240,240,255,0.4);
}

.list0:hover td, .list1:hover td {
    color: #33333f;
    box-shadow: inset 0 0 0 1px #ffe;
    background: rgba(255,255,255,0);
}

#mailbox {
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
}

.iframed #mailbox {
    margin: 0;
}

#emptymailbox {
    padding: 10px;
}

#mailbox hr {
    display: none;
}

#mailbox tr:nth-child(2) {
    position: sticky;
    top: 42px;
    z-index: 500;
}

@supports not (-moz-appearance: none) {
#mailbox tr:nth-child(2) {
    position: static;
}
}

#mailbox th {
    padding: 6px 5px;
    white-space: nowrap;
    color: #54586f;
    border-bottom: 1px solid #7e7fb9;
    background: #f6f6ff;
    background: linear-gradient(to bottom, #fcfcff 51%, #fafaff 51%, #f6f6ff 100%);
}

#mailbox th:last-child {
    padding: 6px 0 !important;
    background: #fff url(/themes/console/images/buttons/delete.png) center center no-repeat;
    background: url(/themes/console/images/buttons/delete.png) center center no-repeat, linear-gradient(to bottom, #fcfcff 51%, #fafaff 51%, #f6f6ff 100%);
}

#mailbox th.mailListFlagged {
    background: #fff url(/themes/susimail/images/status.png) center center no-repeat;
    background: url(/themes/susimail/images/status.png) center center no-repeat, linear-gradient(to bottom, #fcfcff 51%, #fafaff 51%, #f6f6ff 100%);
    background-blend-mode: luminosity, normal;
}

#mailbox th.mailListAttachment {
    background: #fff url(/susimail/icons/attach.png) center center no-repeat;
    background: url(/susimail/icons/attach.png) center center no-repeat, linear-gradient(to bottom, #fcfcff 51%, #fafaff 51%, #f6f6ff 100%);
}

#mailbox td {
    color: #41465f !important;
}

#mailbox tr td {
    border-top: 1px solid #ccccf0;
    border-top: 1px solid rgba(220,220,255,0.8);
}

#mailbox tr:nth-child(3) td {
    border-top: none;
}

td.mailListSender a, td.mailListSender a:hover {
    font-weight: normal;
    color: #41465f !important;
    line-height: 120%;
}

td.mailListSender, tr:hover td.mailListSender {
    white-space: nowrap;
    padding-right: 6px;
    padding-left: 22px !important;
    width: 1%;
    background-image: url(/themes/console/images/buttons/user.png) !important;
    background-position: 6px center !important;
    background-repeat: no-repeat !important;
    background-size: 12px 12px;
}

#mailbox tr:hover .mailListSender a {
    color: #33333f !important;
}

.mailListSubject {
    white-space: normal;
    text-align: left;
    word-break: normal;
}

td.mailListSubject a {
    padding: 3px 0;
    display: inline-block;
}

tr:hover td.mailListSubject a {
    width: calc(100% - 2px);
    border-radius: 2px 15px 15px 2px;
    background: #ffc;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,208,0.9) 20%);
}

@supports not (-moz-appearance: none) {
td.mailListSubject a {
    margin: -1px 0 !important;
    padding: 5px 0 !important;
}
}

tr:active td.mailListSubject a {
    box-shadow: inset 2px 2px 1px #bb9;
}

#mailbox .bottombuttons td {
    padding: 4px 4px 5px;
    border-top: 1px solid #7e7fb9;
}

.iframed #mailbox .bottombuttons td {
    padding: 5px 3px;
}

#mailbox .bottombuttons input[type="submit"][disabled] {
    display: none;
}

#mailbox th {
    font-size: 8pt;
}

.mailListFlagged {
    min-width: 26px !important;
    padding: 3px 0 !important;
    text-align: center;
}

td.mailListFlagged img {
    opacity: 0.7;
    transform: scale(-1,1) skew(10deg);
}

tr:hover .mailListFlagged img {
    opacity: 1;
}

td.mailListAttached {
    padding: 3px !important;
}

.mailListCount {
    text-align: right;
}

th.mailListDate {
    text-align: left;
    padding-left: 8px !important;
}

.listSize, .listDate, .mailListSender, .mailListSubject a {
    will-change: transform;
}

.listDate, .listTime, .listClock {
    display: inline-block;
    white-space: nowrap;
    text-align: right;
}

.listClock {
    margin-top: 1px;
    padding-left: 1px;
    min-width: 18px;
    vertical-align: text-top;
    font-size: 80%;
    text-align: left;
    text-transform: lowercase;
}

.listDate {
    padding: 2px;
    min-width: 64px;
    text-align: right;
    font-weight: bold;
    color: #41465f;
    border: 1px solid #bbc;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff;
    opacity: 0.8;
    background: #f6f6ff;
    background: linear-gradient(to bottom, #fff, #eef);
}

tr:hover .listDate {
    border: 1px solid #adadeb;
    opacity: 0.9;
}

.listDate span {
    padding: 1px 0;
    display: inline-block;
    min-width: 18px;
    text-align: center;
    border-radius: 2px;
}

.listTime {
    min-width: 40px;
    opacity: 0.85;
}

.mailListSize {
    padding: 3px;
    width: 1%;
    text-align: center;
}

td.mailListSize {
    font-style: italic;
    box-shadow: inset 0 0 0 1px #fff;
}

.mailListSize .unknown {
    display: inline-block;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 2px 0;
}

.listSize {
    display: inline-block;
    min-width: 56px;
    text-align: right;
    border: 1px solid #bbc;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff;
    background: #f6f6ff;
    vertical-align: middle;
}

tr:hover .listSize {
    border: 1px solid #adadeb;
    color: #33333f;
}

.listSizeUnit {
    margin: 1px 1px 1px 2px;
    padding: 1px;
    display: inline-block;
    min-width: 14px;
    color: #fff;
    text-align: center;
    font-size: 90% !important;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 1px 1px #88c;
    border-radius: 0 1px 1px 0;
    background: #cce;
}

@supports not (-moz-appearance: none) {
.listSize, .listSizeUnit {
    font-size: 95%;
}
}

.mailListAttachment {
    min-width: 16px;
}

.mailListSubject {
    padding: 3px 6px;
}

.mailListDelete, .mailListDate, .mailListSize, .mailListFlagged, .mailListAttachment {
    width: 1%;
    white-space: nowrap;
    padding: 3px 6px;
}

.mailListDelete {
    padding: 3px;
}

th.mailListDelete:empty {
    min-width: 24px;
}

td.mailListDelete, td.mailListFlagged, td.mailListSender, td.mailListAttachment, td.mailListSubject, td.mailListDate, td.mailListSize {
    border-right: 1px solid #ddf;
}

td.mailListDelete {
    background: rgba(250,240,250,0.5);
}

.list0 > *, .list1 > * {
    vertical-align: middle;
    line-height: 100%;
}

/* end mail list */

/* confirm mail delete */

#confirmdelete td {
    box-shadow: inset 0 0 0 1px #fff !important;
    background: #900;
    background: repeating-linear-gradient(45deg, #900, #900 10px, #ee9 10px, #ee9 20px);
    background-size: 400%;
    animation: attention 360s linear infinite both;
}

#nukemail {
    margin: 4px 4px 3px;
    padding: 35px 20px 20px;
    font-weight: bold;
    font-style: italic;
    color: #900;
    border: 1px solid #700;
    box-shadow: inset 0 0 0 1px #ffe, inset 0 0 1px 3px #dda;
    background: #ffe url(/themes/console/images/question.png) center 12px no-repeat;
    background: url(/themes/console/images/question.png) center 20px no-repeat, linear-gradient(to bottom, #ffe, #ffffe6);
}

#nukemail.floating {
    margin: 0 auto 1px;
    width: 480px;
    z-index: 2000;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 1px 1px #dda, 0 0 0 1px #fff, 0 0 2px 3px rgba(0,0,0,.4), 0 0 1000px 1000px rgba(8,0,0,0.5);
    animation: fade-in linear 0.5s;
}

.iframed #nukemail.floating {
    top: auto;
    bottom: 230px;
    box-shadow: inset 0 0 1px 1px #dda, 0 0 0 1px #fff, 0 0 2px 2px rgba(0,0,0,.3);
}

#confirmdelete.floating td::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
}

@keyframes attention {
from {
background-position: 200%
}
to {
background-position: 0;
}
}

#nukemail br {
    display: block;
}

#nukemail span {
    margin: 30px auto 20px;
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
    font-size: 120%;
    border-bottom: 1px solid #933;
}

/* end confirm delete */

/* loading mail */

#loading {
    padding: 15px;
    font-size: 10pt;
    text-align: center;
    background: #ddf;
    background: repeating-linear-gradient(to bottom, #ddf, #eef 2px, #ddf 3px);
    margin: 0 !important;
    border: none !important;
}

#loading b {
    padding: 6px 0;
    display: inline-block;
    width: 40%;
    min-width: 400px;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 0 0 1px #001, 0 0 5px #003;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #99b, inset 0 0 0 2px #ddf, inset 0 0 2px 3px #77a, 0 0 1px #bbb;
    background: #337;
    background: repeating-linear-gradient(45deg, #449 1px, #449 20px, #66a 20px, #77a 40px);
    animation: loading 1s linear infinite forwards alternate;
}

@keyframes loading {
0% {
    text-shadow: 0 0 1px #001, 0 0 5px #003;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 50%, rgba(100,100,128,0.3) 50%), repeating-linear-gradient(45deg, #77a 1px, #77a 20px, #449 20px, #449 40px);
}

100% {
    text-shadow: 0 0 1px #001, 0 0 5px #505;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 50%, rgba(100,100,128,0.3) 50%), repeating-linear-gradient(45deg, #449 1px, #449 20px, #77a 20px, #77a 40px);
}
}

/* end loading mail */

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(/themes/console/light/images/dropdown.png) right center no-repeat #fff;
    background: url(/themes/console/light/images/dropdown.png) right center no-repeat, linear-gradient(to bottom, #fff, #efefff);
    background-blend-mode: hard-light, normal;
    padding: 4px 16px 4px 4px !important;
    color: #41465f;
    border: 1px solid #9ea8d1;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Bitstream Vera Sans", "Segoe UI", Verdana, "Lucida Grande", Helvetica, sans-serif;
    border-radius: 2px;
    text-align: left !important;
    box-shadow: inset 0 0 0 1px #fff;
    filter: drop-shadow(0 0 1px rgba(220,220,255,.7));
}

@supports not (-moz-appearance: none) {
select {
    padding: 5px 16px 5px 6px !important;
}
}

select:-moz-focusring {
    outline: 1px solid transparent;
}

select option {
    background: #fff;
}

select:hover, select:active {
    cursor: pointer;
    color: #19191f;
    background: url(/themes/console/light/images/dropdown_hover.png) right center no-repeat, linear-gradient(to bottom, #eee, #fff) !important;
}

select:focus {
    color: #19191f;
    background: url(/themes/console/light/images/dropdown_hover.png) right center no-repeat, linear-gradient(to bottom, #eee, #fff) !important;
    box-shadow: 0 0 1px #89f;
}

select::-moz-focus-inner {
    outline: none !important;
    border: none !important;
}

select::-ms-expand {
    display: none;
}

.folders {
/*    float: right;*/
    display: inline-block;
    margin: 0;
}

#viewmail {
    position: relative;
}

#viewmail .folders {
    position: absolute;
/*    top: 5px;
    right: 6px;*/
}

#viewmail .folders {
    top: -1px;
    right: -1px;
    padding: 4px 6px 4px 4px;
    border: 1px solid #7e7fb9;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 0 0 0 3px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 50%, rgba(240,240,255,0.4) 50%), repeating-linear-gradient(to bottom, #eef 1px, #eef 2px, #fff 3px);
}

input.switchto, input.moveto {
    background: #eee url(/themes/susimail/images/folder.png) no-repeat 6px center;
    background: url(/themes/susimail/images/folder.png) no-repeat 6px center, linear-gradient(to bottom, #fff, #efefff);
    padding: 5px 7px 5px 24px;
}

input.switchto:hover, input.moveto:hover {
    background: #fff url(/themes/susimail/images/folder-open.png) no-repeat 6px center;
    background: url(/themes/susimail/images/folder-open.png) no-repeat 6px center, linear-gradient(to bottom, #eee, #fff);
}

#folderName {
    font-weight: bold;
    color: #41465f;
    text-transform: capitalize;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    font-style: italic;
    text-transform: lowercase;
    opacity: .4;
}

input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder {
    opacity: 0;
}

/* responsive layout */

@media screen and (max-width: 900px) {
body {
    margin: 3px;
}

body, td, a, button, input, p.mailbody, select {
    font-size: 8.5pt !important;
}

th.mailListDate {
    white-space: nowrap;
    text-align: center !important;
}

td.mailListDate {
    padding: 0;
    white-space: normal !important;
    width: 1%;
    line-height: 100%;
    text-align: center;
}

.listDate {
    padding-bottom: 1px !important;
    text-align: center !important;
    font-weight: bold;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    opacity: 0.85;
    box-shadow: none !important;
    background: none !important;
}

.listDate span {
    min-width: 0 !important;
}

.listTime {
    margin-top: 1px;
    margin-bottom: 2px;
    text-align: center !important;
    font-size: 95%;
}

.pagenavcontainer {
    position: fixed;
    top: 13px;
    right: 5px !important;
}

.topbuttons .pagenav td {
    padding: 0;
    width: auto;
}

.topbuttons .pagenav input {
    margin: 1px !important;
}

.topbuttons .pagenav td:nth-child(2) {
    display: none;
}

.topbuttons input.nextpage {
    margin-left: 5px !important;
}

#messagenav {
    position: fixed;
    float: none;
    margin: 7px 1px 0;
}

.delete + .logout {
    display: none;
}
}

@media screen and (max-width: 1000px) {
#info {
    display: none !important;
}

.folders{
    margin-top: -1px;
    float: left;
}
}

@media screen and (max-width: 1300px) {
select {
    font-size: 9pt;
}
}

@media screen and (min-width: 1300px) {
.iframed body, .iframed td, .iframed textarea, .iframed input, .iframed div, .iframed p.mailbody, .iframed th, .iframed a {
    font-size: 10pt !important;
}

.iframed td {
    padding: 3px 5px;
}

/*select {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}*/
}

@media screen and (min-width: 1500px) {
body, td, textarea, input, div, p.mailbody, th, a {
    font-size: 10pt !important;
}

td {
    padding: 3px 5px;
}
}

/* end responsive layout */

tr.mailbody td {
    border-top: 1px solid #7e7fb9 !important;
}

.debugHeader:nth-child(n+3) td {
    border-top: 1px solid #7e7fb9;
}

.debugHeader pre {
    margin: 4px 10px;
    white-space: pre-wrap;
    line-height: 130%;
    font-size: 9.5pt;
    opacity: 0.9;
}

@media screen and (max-width: 1500px) {
.debugHeader pre {
    font-size: 8.5pt;
}
}

#toggle {
    height: 20px;
    width: 24px;
    vertical-align: middle;
    font-size: 0 !important;
    border: none;
    background: url(/themes/console/images/buttons/show.png) center center no-repeat;
    background-size: 20px 20px !important;
    cursor: pointer;
    mix-blend-mode: luminosity;
}

#toggle:hover {
    mix-blend-mode: normal;
}

#toggle.hidepass {
    background: url(/themes/console/images/buttons/hide.png) center center no-repeat;
}

#toggle.showpass {
    background: url(/themes/console/images/buttons/show.png) center center no-repeat;
}
