@import url("/themes/fonts/DroidSans.css");

#customalert-overlay, #customconfirm-overlay {
   display: none;
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   z-index: 2147483647;
   background: #000;
   opacity: .5;
}

.customalert {
   margin-left: -275px;
   width: 550px;
   max-width: 100vw;
   max-height: 100vh;
   position: fixed;
   z-index: 2147483647;
   top: 5%;
   display: none;
   font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", Verdana, "Bitstream Vera Sans", "DejaVu Sans", "Lucida Grande", Helvetica, sans-serif;
   font-size: 10pt;
   border: 1px solid #302b74;
   border-radius: 3px;
   box-shadow: 0 0 3px 1px rgba(0,0,0,.3), inset 0 0 0 1px #000;
   background: #000;
   background: linear-gradient(to top, #001, #000);
   animation: fade-in 0.3s linear both;
}

@keyframes fade-in {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@media (min-width: 321px) {
   .customalert {
      padding: 10px;
      top: 25%;
      left: 50%;
}
}

@media (max-width: 550px) {
   .customalert {
      margin-left: -50vw;
}
}

.customalert .header, .customalert .body,.customalert .footer {
   text-align: center;
}

.customalert .header {
   margin: -10px -10px 8px;
   padding: 6px 5px;
   font-size: 12pt;
   font-weight: bold;
   border-bottom: 1px solid #302b74;
   box-shadow: inset 0 0 0 1px #000;
   background: #002;
   background: linear-gradient(to bottom, #002, #000);
   border-radius: 3px 3px 0 0;
}

.customalert .body {
   padding: 10px;
   font-size: 11pt;
}

.customalert .footer button {
   margin: 5px;
   padding: 5px;
   width: 100px;
   word-wrap: break-word;
   border: none;
   border-radius: 3px;
   font-weight: bold;
   cursor: pointer;
}

.customalert.customalert-confirm .footer button.button-done {
   margin-left: 10px;
   text-transform: uppercase;
   color: #edf7ef;
   background-color: #68bb74;
}

.customalert.customalert-confirm .footer button.button-done:hover {
   color: #dcefdf;
   background-color: #3f8d4b;
}

.customalert.customalert-confirm .footer button.button-cancel {
   color: #fbece9;
   background-color: #e2614b;
}

.customalert.customalert-confirm .footer button.button-cancel:hover {
   color: #f8d8d3;
   background-color: #b0321c;
}
